.ombre div {
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/shadow2.png', sizingMethod='crop');
  background: none;
}

/* pour la page commande : placement dans la page de la colonne de droite */

#CoordonneesEnvoyer {
  position:absolute;
  top:0;
  left:auto;
  width:200px;
  float:right;
}
#ConteneurCE {
  position:absolute;
  top:200px;
  left:auto;
  border-left:1px solid #ccc;
  padding-left:7px;
}