/*  ==========================================================================
    icon
    ========================================================================== */

    .icon {
        height: 24px;
        width: 24px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $nav-bg;
    }

    .icon--navigation {
        @include font-size(23px);
        font-weight: bold;
        &:hover {
            color: #fff;
        }
    }
    .icon--close {
        border-radius: 50%;
        @include font-size(23px);
        line-height: 0.9;
        background-color: #999;
        font-weight: bold;
        &:hover {
            background-color: $gray-light;
            color: #000;
        }
    }

    .icon--search {
        background: transparent url(../img/css/icon__search.svg) no-repeat 0 0.375em; // 0 6px
        @include media-query(lap-and-up) {
            background-position: 0 0.2em;
        }
    }

    .icon--lock {
        background: transparent url(../img/css/icon__lock.png) no-repeat 0 0;
    }
    .icon--unlock {
        margin-top: -10px;
        background: transparent url(../img/css/icon__lock.png) no-repeat 0 -24px;
    }

    .icon--back-top {
        background: transparent url(../img/css/icon__back-top.png) no-repeat center top;
    }


    .icon--before {
      text-indent: -9999em;
      border: 0; // annuler border-bottom du lien
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
    .icon--bas {
      background: url(../img/css/icon--bas.svg);
      background-size: cover;
      width: 32px; height: 16px;
      margin-top: -2em;
    }
    .icon--haut {
      background: url(../img/css/icon--haut.svg);
      background-size: cover;
      width: 32px; height: 16px;
      margin-top: -2em;
    }
    .icon--video-carousel {
      height: 100%;
      width: 100%;
    }
    .icon--video-defaut {
      height: 83px;
      background: url(../img/css/icon--video-defaut.svg) no-repeat center;
      background-size: cover;
      @include media-query(lap-and-up) {height: 100%;}
    }

/*  .icon-svg
    ========================================================================== */
    
    .icon-svg {
        display: inline-block;
        cursor: pointer;
    }
    
    .icon-svg--accordeon {
        width: 24px; 
        height: 24px;
        position: absolute;
        right: 0;
        z-index: 100;
        @include transition(all 0.35s ease-out);
        .accordeon__header:hover &,
        &.icon-svg--accordeon--is-open {
            padding-top: .3em;
            +.accordeon__header-titre {
                border-color: $couleur-lien;
            }
            #icon-svg--chevron-bas {
                fill: $couleur-lien;
            }
        }
        &.icon-svg--accordeon--is-open {
            @include transform(rotate(180deg));
        }
    }

    .icon-svg--chevron-bas {
        width: 24px;
        height: 24px;
    }

    #icon-svg--chevron-bas {
      fill: $couleur-gris-moyen;
      @include transition(fill 0.35s ease-out);
    }
    
