/*  ==========================================================================
    list
    ========================================================================== */

/*  .block-list
    ========================================================================= */
    
    .block-list,
    %block-list {
        margin:  0;
        padding: 0;
        list-style: none;
        > li {
            @extend %block-list__item;
            > a {display:block;}
        }
    }
    .block-list__item,
    %block-list__item {display:list-item;}

/*  bare-list
    ========================================================================== */
    
    .bare-list,
    %bare-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

/* 
   .inline-list
   ========================================================================== */

    .inline-list,
    %inline-list {
        margin: 0;
        padding: 0;
        display:inline;
        > li { @extend %inline-list__item; }
    }
    .inline-list__item,
    %inline-list__item { display: inline-block; }

    .inline-list--pipe {
        > li {
            position: relative;
            margin-right: 0.5em;
            padding-right: 0.5em;
            &:after {
                position: absolute;
                top: 15%;
                right: 0;
                width: 1px;
                height: 75%;
                border-right: 1px solid $couleur-gris-clair;
                content: '';
            }
            &:last-child:after { border: none; }
        }
    }
    .inline-list--slash-after {
        > li {
            margin-right: 0.1em;
            &:after {
                display: inline-block;
                content: '/';
                margin-left: 0.15em;
                color: $couleur-gris-clair;
            }
            &:last-child {
                &:after {
                    margin-left: 0;
                    content: '';
                }
            }
        }
    }

/* 
    .ui-list
    ========================================================================== */

    .ui-list {
        margin:  0;
        padding: 0;
        list-style: none;
        border-top: 1px dotted #c9c9c9;
    }
    .ui-list__item {
        padding: 1em 0;
        border-bottom: 1px dotted #c9c9c9;
    }

/* 
    .simple-def-list
    ========================================================================== */

    .simple-def-list {
        dd {margin-left: 0;}
    }

/*  .resultats-list
    ========================================================================== */
    .resultats-list {
        margin-bottom: 1.5em;
    }
        .resultats-list__item {
            margin-bottom: 2em;
            &:after {
                content: '❡';
                display: block;
                text-align: center;
                color: $couleur-gris-clair;
            }
        }

/*  .resume-meta-list
    ========================================================================== */
    .resume-meta-list {}

