/*  ==========================================================================
    .spip_documents
    ========================================================================== */
    // .spip_documents {}

    /* légendes */
    .spip_doc_legende {
        color: $couleur-gris-moyen;
        .spip_doc_titre {margin-bottom: 0;}
    }
    .spip_doc_titre {
        // font-weight: 600;
        font-style: italic;
    }
    // .spip_doc_descriptif {}

/*  images insérées dans le texte. Version standard.
    ========================================================================== */
    .self__body {
        .spip_documents {
            margin-top: 4px;
            margin-bottom: 1em;
            img {
                display: block;
            }
            @media only screen and(max-width:1100px) {
                img[height],
                img[width] {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                }
            }
        }
        .spip_documents_center {
            margin-top: 3em;
            margin-bottom: 3em;
            .spip_doc_legende {
                margin-top: .5em;
            }
        }
        .spip_doc_titre,
        .spip_doc_descriptif {
            @include font-size(14px,$line-height: false);
            line-height: 1.4;
        }
    }
    .spip_documents_left {
        float: left;
        margin-right: $base-spacing-unit; 
    }
    .spip_documents_right {
        float: right;
        margin-left: $base-spacing-unit;
    }
    .spip_documents_center {
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

/*  images insérées dans le texte. Version timeline
    ========================================================================== */
    .self__body--timeline {
        .spip_documents {
            position: relative;
            @extend %timeline-dot;
            @extend %timeline-dot--gris;
            &:before {
                position: absolute;
                top: -14px;
                left: -29px;
            }
            @include media-query(lap-and-up) {
                position: absolute;
                right: 100%;
                margin-right: 64px;
                &.image--portrait {
                    width: 70%;
                }
                &.image--paysage {
                    width: 100%;
                }
                &:before {
                    top: -13px;
                    right: -45px;
                    left: auto;
                }
            }
        }
        .spip_documents_left,
        .spip_documents_right {
            float: none;
        }
        .spip_documents_center {
            margin-top: 0;
        }
    }

/*  Documents joints en pied d'article
    ========================================================================== */
    /* fichiers et images */
    .document {
        .spip_doc_titre,
        .spip_doc_descriptif {
            @include font-size(16px);
        }
        .spip_doc_titre {
            margin-bottom: 0;
        }
    }

    /* fichier uniquement */
    .fichier {
        padding-bottom: 1.5em;
    }
