/* ==========================================================================
   .meta
   ========================================================================== */

// .meta {}
.meta__section-titre {
    display: inline-block;
    margin-left: -$base-spacing-unit/2;
    padding-left: $base-spacing-unit/2;
    padding-right: $base-spacing-unit/2;
    border-bottom: 1px solid #555;
    font-family: $font-HBC;
    @include font-size(18px);
    text-transform: uppercase;
}

/* 
   .meta-info
   ========================================================================== */

.meta-info {
    margin-bottom: 2em;
}
.meta-info__date,
.meta-info__rubriques {
    margin-bottom: 0;
    color: #999;
}
.meta-info__date {
    &:after {
        content: '|';
        margin-left: 0.5em;
        display: inline-block;
        color: #eee;
    }
}
.meta-info__rubriques {
    text-transform: uppercase;
    font-family: $font-HLC;
    a {
        color: #999;
    }
}
@include media-query(lap-and-up) {
    .meta-info__date,
    .meta-info__rubriques {float:left;}
    .meta-info__date {
        width: 26%;
        text-align: right;
    }
    .meta-info__rubriques {margin-left: .5em;}
}


/* 
   .meta-article
   ========================================================================== */

.meta-article {
    margin-bottom: 48px;
    margin-bottom: 3rem;
    p {
        margin-bottom: 0;
    }
}
.meta-article__titre {
    margin-bottom: .5em;
    // font-weight: 600;
    font-style:italic;
    @include font-size(20px);
    color: #444;
}
