/*  ==========================================================================
    meta
    ========================================================================== */
    .meta {}
    .meta__item {
        &, a {
            color: $couleur-gris-moyen;
        }
    }

/*  self-meta
    ========================================================================== */
    .self-meta {
        @extend .cf;
    }
    .self-meta--head {
        margin-bottom: 1.5em;
    }
        .self-meta__item {
            @extend .meta__item;
            margin: 0;
            margin-right: .5em;
            &.rubrique {
                text-transform: uppercase;
                font-family: $font-HLC;
            }
            @include media-query(lap-and-up) {
                display: inline-block;
            }
        }
    /*
     * self-meta--head-std
     */
    .self-meta--head-std {
        @include media-query(lap-and-up) {
            .self-meta__item {
                float: left;
                &:first-child {
                    width: 26%;
                    text-align: right;
                    &:after {
                        content: '|';
                        color: $couleur-gris-blanc;
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
    
    /*
     * self-meta--head-timeline
     */
    .self-meta--head-timeline {
        text-align: center;
    }


    /* TODO : reprendre à partir d'ici */

.meta__section-titre {
    display: inline-block;
    margin-left: -$base-spacing-unit/2;
    padding-left: $base-spacing-unit/2;
    padding-right: $base-spacing-unit/2;
    border-bottom: 1px solid #555;
    font-family: $font-HBC;
    @include font-size(18px);
    text-transform: uppercase;
}

/* 
   .meta-article
   ========================================================================== */

.meta-article {
    margin-bottom: 48px;
    margin-bottom: 3rem;
    p {
        margin-bottom: 0;
    }
}
.meta-article__titre {
    margin-bottom: .5em;
    font-style:italic;
    @include font-size(20px);
    color: #444;
}
