/* ==========================================================================
   navigation
   ========================================================================== */

.nav,
%nav {
    margin:  0;
    padding: 0;
    list-style: none;
}

/* 
   .navigation-site
   ========================================================================== */

//portable : éléments communs.
@include media-query(portable) {
    // version de base, avec ou sans js
    .navigation-site {
        padding-top: 8em;
        .page-block {background-color: $nav-bg;}
        
        // intertitres 
        .hN {
            margin-bottom: 0em;
            border-bottom: 1px solid #fff;
            padding: 0 1.5rem;
            font-family: $font-HC;
            @include font-size(20px);
            color: #fff;
            text-transform: uppercase;
        }

        .nav-container {
            padding-top: 1em;
            padding-bottom: 1em;
        }

        // nav__item
        .nav__item {
            &:first-child {
                padding-top: 0.3em;
            }
            > a {
                display: block;
                padding: 0.35em 1.5em 0.15em; // 2.5em;
                color: #fff;
                @include transition(background-color 0.35s ease-in 0.1s);
                &:hover {background-color: rgba(#fff,0.2);}
            }
        }
        .btn-nav-close {background-color: #fff;z-index: 100;}
    }

    // target
    #nav {
        position: absolute;
        top: 0;
        .btn-nav-close {
            display: none;
        }
        &:not(:target) {
            z-index: 0;
            height: 0;
            overflow: hidden;
        }
        &:target {
            .btn-nav-close {
                display: block;
            }
        }
    }

    // version no-js
    .no-js {
        .navigation-site {width: 100%;}
    }

    // version js-ready
    .js-ready {
        .wrap-in {
            left: 0 !important;
            @include transform(translate3d(0,0,0));
            @include transform(translate(0,0));
            @include transition(transform 0.5s ease);
            @include backface-visibility(hidden);
            // effet d'obscurcissement à l'ouverture du menu off-canvas
            &:after {
                position: absolute;
                z-index: 200;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                background: rgba(0,0,0,0.5);
                content: '';
                opacity: 0;
                @include transition(opacity .5s);
            }
        }
        #nav {
            left: 0;
            overflow-y: auto;
            height: 100%;
            .btn-nav-close {
                display:block;
                background: transparent;
            }
        }
        .navigation-site {
            padding-top: 3em;
            background: $nav-bg;
            box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
            @include transform(translate3d(-100%,0,0));
            @include transform(translate(-100%,0));
            @include backface-visibility(hidden);
            .page-block {
                background: transparent;
            }
        }
        .btn-nav-close {
            right: 0;
            .fa {color: #fff;}
        } 
    }

    //version js-nav (navigation ouverte)
    .js-nav {
        .wrap-in {
            // obscurcissement
            &:after {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
    }
}

// palm : éléments spécifiques.
@include media-query(palm) {
    .js-ready {
        .navigation-site {width: 70%;}
    }
    .js-nav {
        .wrap-in {
            @include transform(translate3d(70%,0,0)scale3d(1,1,1));
        }
    }   
}
// lap : éléments spécifiques.
@include media-query(lap) {
    .js-ready {
        .navigation-site {width: 50%;}
    }
    .js-nav {
        .wrap-in {
            @include transform(translate3d(50%,0,0)scale3d(1,1,1));
        }
    } 
}

// desk
@include media-query(desk) {
    .navigation-site {
        .nav {
            text-align: center;
        }
        .nav__item {
            display:inline-block;
            margin-right: 1em;
            > a {
                display: inline-block;
            }
        }
    }
    .nav-revue {
        border-bottom: 2px solid #000;
        padding-bottom: .5em;
        font-family: $font-HLC;
        @include font-size(15px);
        text-transform: uppercase;
    }
    .nav-categories {
        padding-top: .8em;
    }
}




