/*  ==========================================================================
    preview
    ========================================================================== */
    
    .preview {
        position: relative;
    }
    .preview__fade {
        position: absolute;
        width: 100%;
        left: 0;
        height: 150px;
        bottom: 150px;
        @include background-image(linear-gradient(rgba(255,255,255,0) 0,rgba(255,255,255,1)80%,rgba(255,255,255,1)100%));

    }
    .preview__fade--small {
        height: 80px;
        bottom: 50px;
    }


