/*  ==========================================================================
    resume
    ========================================================================== */
    // .resume(-article)
    //     .resume__lien
    //       .resume__header
    //       .resume__desc

    // complément de /ui/resume.scss.
    // TODO : fusionner les deux fichiers. 
    .resume {}
    .resume__lien { 
        // --------------------------------------------------------------------
        // Si le hover des liens est en couleur, 
        // alors ce style n'est plus nécessaire !!
        // --------------------------------------------------------------------
        // display: block;
        // border: 0;
        // background-color: transparent;
        // outline: 3px dotted transparent;
        // @include transition(background 0.3s ease,outline 0.3s ease);
        // &:hover {
            // background-color: rgba(#ddd,0.3);
            // outline: 3px dotted rgba(#ddd,0.3);
        // }
    }
    .resume__titre {
        @include font-size(18px,$line-height:false);
        line-height: 1.2;
        // font-weight: 600;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    .resume__soustitre {
        display: block;
        @include font-size(16px);
        font-style: italic;
    }
        .resume__auteur,
        .resume__signature {
            font-style: italic;
            color: $gris-soustitre;
        }
            // .resume__desc {}
           .resume__more {
                time {
                    color: $gris-soustitre;
                    &:after {
                        margin-left: 0.3em;
                        content: '|';
                        color: $gray-light;
                    }
                }
                .more {
                    border-bottom: 1px dotted $gris-soustitre;
                    color: $gris-soustitre;
                    &:hover {
                        color: #000;
                        border-bottom: 1px solid #000;
                        em {
                            color: #000;
                            padding-left: 1em;
                        }
                    }
                }
           }


/* 
   .resume-article
   ========================================================================== */
   
   .resume-article {
       position: relative;
   }

/* 
   .resume-article--selection
   ========================================================================== */
   .resume-article--selection {
        .resume__titre {
            @include media-query(lap) {
                @include font-size(20px);
            }
            @include media-query(desk) {
                @include font-size(22px);
            }
        }
        .resume__signature,
        .resume__desc,
        .resume__more {
            @include media-query(desk) {
                @include font-size(18px);
            }
        }
   }

/* 
   .resume-article--court
   ========================================================================== */

    .resume-article--court {
        &.resume {
            margin-bottom: 0;
            border-width: 0;
        }
        .resume__titre {
            margin-bottom: 0;
            min-height: 2em;
            @include font-size(16px);
        }
        .resume__signature {margin-bottom: 0;}
    }

/* 
   is-selected
   ========================================================================== */

    .resume__titre--is-selected {
        strong {
            font-weight: normal;
            &:before {
                display: inline-block;
                margin-left: -1em;
                margin-right: 0.3em;
                content: '\f00c';
                font-family: 'FontAwesome';
                font-weight: normal;
                font-style: normal;
                color: $ok;
            }
        }
    }

/* 
   is-postdate
   ========================================================================== */

    // plutôt is-indispo qui pourra etre utilisé ailleurs ?
    

/* 
   .postdate-info-overlay
   ========================================================================== */

    .postdate-info-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 0.5em;
        text-align: center;
        font-family: $mono-font;
        @include font-size(10px);
        color: #999;
        background: #fff;
        border: 1px dotted #fff;
        border-radius: 2px;
        @include transition(background 0.3s ease,color 0.3s ease);
        .resume-article--court & {
            bottom: -1.5em;
            left: auto;
        }
        .resume:hover & {
            background-color: #b22222;
            color: #fff;
        }
    }


/*  .resume-video
    ========================================================================== */
.resume-video {
  background-color: $couleur-site;
  text-align: center;
}
.resume-video--is-active {
   opacity: 0.5;
}
.resume-video--small {
   @include media-query(palm) {
      min-height: 180px;
   }
   .hN {
      @include font-size(14px,$line-height: false);
      line-height: 1;
      color: #000;
      @include media-query(lap-and-up) {
         // border-top: 1px solid rgba(255,255,255,0.5);
         padding: 0.5em;
         margin-bottom: 0.5em;
         @include font-size(16px,$line-height: false);
         line-height: 1.2;
      }
   }
  .resume__body p {
    @include font-size(12px,$line-height:false);
    line-height: 1.2;
    margin-bottom: 0;
  }
}

/*  resume-semainier
    ========================================================================== */
    .resume-semainier {
        @include media-query(lap-and-up) {
            header {
                border-top: 1px solid #000;
                padding-top: 1.5em;
            }
        }
        .resume__titre {
            @include font-size(24px,$line-height: false);
            margin-bottom: .5em;
        }
        .resume__titre--jour {
            @include font-size(18px);
            a {
                color: $couleur-gris-moyen;
            }
        }
        .resume__soustitre {
            @include font-size(20px,$line-height:false);
        }
    }
        .resume-semainier__img {
            margin-bottom: 2em;
            a {
                border: none;
            }
        }
        .resume-semainier__body {
            .timeline__item--pair & .resume__titre--jour {
                margin-right: 20%;
            }
            .timeline__item--impair & .resume__titre--jour {
                margin-left: 20%;
            }
        }