/*  ==========================================================================
    section
    ========================================================================== */

/*  .groupe-section
    ========================================================================== */
    .groupe-section {
        @include media-query(palm) {
            .resume-article--texte {
                border-bottom: 1px dotted $couleur-gris-clair;
            }
            .resume-article,
            .resume-rubrique {
                margin-bottom: 1.5em;
            }
        }
        @include media-query(lap-and-up) {
            margin-bottom: 1.5em;
        }
    }

/* .intertitre-section
   ========================================================================== */

    .intertitre-section {
        font-style: italic;
        .recherche & {
            color: #000;
            // font-weight: 600;
        }
    }
    .intertitre-section--first {
        display: inline-block;
        border-bottom: 1px solid $soft-black; //background-color: $gray-light;
        padding-left: $base-spacing-unit/2;
        padding-right: $base-spacing-unit/2;
        margin-left: -$base-spacing-unit/2;
        @include font-size(18px);
    }
    .intertitre-section--second {
        margin-bottom: 0;
        // font-weight: 600;
        @include font-size(16px);
    }
    .intertitre-section--footer {
        @include font-size(16px);
        // font-weight: 600;
        color: #000;
    }
