/*=================================
=            site-logo            =
=================================*/

.site-logo {
    display: block;
    font-family: 'HelveticaNeueLTStdCnBold',Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    .page-head & {
        @include font-size(48px);
        @include media-query(desk) {
            margin-top: 0.8em;
        }
    }
    .page-foot & {
        @include font-size(38px,$line-height:false);
        line-height: 1;
        @include media-query(palm) {
            @include font-size(32px,$line-height:false);
        }
    }
}

.baseline {
    font-style: italic;
    .page-head & {
        margin-bottom: 0;
        @include font-size(18px);
        @include media-query(palm) {
            @include font-size(14px);
            text-align: left;
        }
        @include media-query(desk) {
            position: absolute;
            right: $base-spacing-unit/2;
            top: .5em;
            text-align: right;
        }
    }
    .page-foot & {
        margin-top: .5em;
        @include font-size(26px,$line-height:false);
        line-height: 1;
        @include media-query(palm) {
            @include font-size(14px,$line-height:false);
            // margin-top: 0;
        }
    }
}

/*-----  End of site-logo  ------*/

