/* ==========================================================================
   .site-logo
   ========================================================================== */
.site-logo-container {
    @include media-query(palm) {text-align:center;}
    @include media-query(lap-and-up) {text-align:right;}
}
.site-logo {
    font-family: $font-HBC;
    text-transform: uppercase;
    white-space: nowrap;
    // taille du logo
    .page-head & {
        @include media-query(portable) {
            @include font-size(68px);
        }
        @include media-query(desk) {
            @include font-size(100px,$line-height:false);
            line-height:0;
        }
    }
    .page-foot & {
        @include font-size(38px,$line-height:false);
        line-height: 1;
        @include media-query(palm) {
            @include font-size(32px,$line-height:false);
        }
    }
}

.baseline {
    font-style: italic;
    .page-foot & {
        margin-top: .5em;
        @include font-size(26px,$line-height:false);
        line-height: 1;
        @include media-query(palm) {
            @include font-size(14px,$line-height:false);
        }
    }
}


