/* ==========================================================================
   .site-logo
   ========================================================================== */
.site-logo-container {
    .page-head & {
        text-align: center;
        @include media-query(lap-and-up) {text-align:right;}
    }
    .page-foot & {
        margin: 1em 0 2.5em;
    }
}

.site-logo {
    font-family: $font-HBC;
    text-transform: uppercase;
    white-space: nowrap;
    // taille du logo
    .page-head & {
        @include font-size(68px);
        @include media-query(desk) {
            @include font-size(100px,$line-height:false);
            line-height:0;
        }
    }
    .page-foot & {
        @include font-size(60px,$line-height:false);
        line-height: 1;
    }
}

.baseline {
    font-style: italic;
    .page-foot & {
        margin-top: .5em;
        @include font-size(20px,$line-height:false);
        line-height: 1;
    }
}


