/*  ==========================================================================
    .tabs
    ========================================================================== */
    /*
     *  <div class="tabs">
     *      <nav class="tabs-nav-container">
     *          <h1 class="hN tabs-nav-container__titre"></h1>
     *          <ul class="tabs-nav">
     *              <li class="tabs-nav__item"><a href=""></a></li>
     *          </ul>
     *      </nav>
     *      <div class="tabs-contenu">
     *          <section class="tabs-section">
     *              <h2 class="hN tabs-section__titre"></h2>
     *          </section>
     *      </div>
     *  </div>
     *
     *  états
     *  -------------
     *  tabs-nav__item--is-selected 
     */


    .tabs {}
        
        /*
         * tabs-nav
         */

        .tabs-nav-container {
            margin-bottom: 2em;
            @include media-query(lap-and-up) {
                text-align: center;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 1px solid $couleur-gris-clair;
                }
            }
        }
            .tabs-nav-container__titre {
                border-bottom: 1px solid #000;
                margin-bottom: .5em;
                color: #000;
                @include font-size(22px);
                @include media-query(lap-and-up) {
                    border-width: 0;
                    text-align: left;
                }
            }
            .tabs-nav {
                margin-left: 1em;
                padding: 0;
                display: inline-block;
                @include media-query(lap-and-up) {
                    margin: 0;
                }
            }
                .tabs-nav__item {
                    @include font-size(20px);
                    @include media-query(palm) {
                        list-style-type: square;
                        a {
                            border-bottom: 1px dotted $link-color;
                            &:hover {
                                color: #000;
                                border-bottom-style: solid;
                            }
                        }
                    }
                    @include media-query(lap-and-up) {
                        margin: 0 0.25em;
                        display: inline-block;
                        list-style-type: none;
                        a {
                            padding: 0 0.5em;
                        }
                        &:hover {
                            border-bottom: 1px solid $link-color;
                        }
                    }
                }
        
        /*
         * .tabs-contenu
         */

        .tabs-contenu {}
            .tabs-section {
                margin-bottom: 3em;
                .no-js & {
                    display: block;
                }
                @include media-query(lap-and-up) {
                    .js & {
                        display: none;
                    }
                }
                
            }
                .tabs-section__titre {
                    border-bottom: 1px solid #000;
                    @include font-size(22px);
                    font-family: $font-HLC;
                    @include media-query(lap-and-up) {
                        .js & {
                            display: none;
                        }
                    }
                }

/*  états
    ========================================================================== */
    
    /*
     * .tabs-nav__item--is-selected
     */
    .tabs-nav__item--is-selected {
        a {
            cursor: default;
        }
        @include media-query(lap-and-up) {
            border-bottom: 1px solid $couleur-lien;
            a {
                color: $couleur-lien;
            }
        }
    }

    /*
     * .tabs-section--is-selected
     */
     .tabs-section--is-selected {
        .js &.tabs-section {
            display: block;
        }
     }
