/*  ==========================================================================
    timeline
    ========================================================================== */

    .timeline {
        @extend .cf;
        position: relative;
        padding: 2em 0 0 5%;
        &:before {
            content:'';
            width: 1px;
            height: 100%;
            background-color: #000;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
        }
        @include media-query(lap-and-up) {
            padding: 2em 0 0 53%;
            &:before {
                left: 50%;
            }
        }
    }
    // .timeline-contenu {}