/*  ==========================================================================
    timeline
    ========================================================================== */

    .timeline {
        @extend .cf;
        position: relative;
        padding: 2em 0 2em 16px;
        &:before {
            content:'';
            width: 1px;
            height: 100%;
            background-color: #000;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
        }
        @include media-query(lap-and-up) {
            padding-left: 32px;
            width: 50%;
            margin-left: 50%;
        }
    }

    /* timeline-nav
       ========================================================================== */
        .timeline-nav {}
        .timeline-nav__item {
            position: relative;
            display: block;
            width: 100%;
            margin-bottom: 3em;
            font-style: italic;
            &:after {
                position: absolute;
                width: 100%;
                padding-top: .5em;
                display: block;
                border-top: 1px solid #000;
                content:attr(data-sequence-title);
                font-style: normal;
                @include font-size(18px);
                color: $couleur-gris-moyen;
                @include transition(color 0.35s ease-out);
            }
            &:hover {
                &:after {color:#000;}
            }
        }

        /* prev */
        .timeline-nav__item--prev {
            @include media-query(lap-and-up){
                right: 100%;
                margin-left: -64px;
                &:after {
                    padding-left: 20%;
                    text-align: right;
                }
            }
        }
        /* next */
        .timeline-nav__item--next {
            @include media-query(lap-and-up) {
                text-align: right;
                &:after {
                    padding-right: 20%;
                    text-align: left;
                }
            }
        }

    /*  timeline-dot
        ========================================================================== */

        %timeline-dot {
            &:before {
                content:'';
                background-color: #000;
                width: 26px;
                height: 26px;
                display: block;
                border-radius: 20px;
                border: 4px solid #fff;
            }
        }
        .timeline-dot {
            @extend %timeline-dot;
            &:before {
                position: absolute;
                left: -28px;
                bottom: -13px;
            }
            &.self__chapo--timeline,
            &.self__body--timeline {
                &:before {
                    bottom: auto;
                }
            }
            @include media-query(lap-and-up) {
                &:before {
                    left: -47px;
                    bottom: -14px;
                }
                &.self__chapo--timeline,
                &.self__body--timeline,
                &.timeline-nav__item--next {
                    &:before {
                        left: -44px;
                    }
                }
                &.timeline-nav__item--prev {
                    &:before {
                        left: auto;
                        right: -46px;
                    }
                }
            }
        }

        /* .timeline-dot--gris */
        .timeline-dot--gris,
        %timeline-dot--gris {
            &:before {
                background-color: $couleur-gris-moyen;
            }
        }