/*  ==========================================================================
    .tri
    ========================================================================== */

    .tri {
        position: relative;
        margin-bottom: 3em;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px dotted $couleur-gris-clair;
        }
        @include media-query(lap-and-up) {
            text-align: center;
        }
    }
        .critere-tri {
            a,strong {
                display: inline-block;
                font-weight: normal;
            }
            a {               
                &:hover {
                    color: $couleur-lien;
                }
            }
            strong {
                color: $couleur-lien;
            }
        }

/*  modificateurs
    ========================================================================== */
    .tri--recherche {
        font-family: $font-HC;
        color: $couleur-gris-2;
    }
        .critere-tri--recherche {
            a,strong {padding: 0 0.35em;}
            a {
                &:hover {
                    border-bottom: 1px solid $couleur-lien;
                }
            }
            strong {
                border-bottom: 1px solid $couleur-lien;
            }
        }
    
    .tri--categories {
        text-align: left;
        font-style: italic;
        @include font-size(18px);
        &:after {
            border-bottom-style: solid;
            border-bottom: 1px solid $couleur-gris-clair;
        }
    }
        .critere-tri--categories {
            a {
                color: #000;
            }
        }