/* ==========================================================================
   liens
   ========================================================================== */

a {
	color: $text-color;
	text-decoration: none;
	transition: color 0.35s ease-out, border 0.35s ease-out;

	&:hover {
		color: $link-color; // #000;
		// border-color: #000;
	}

	img {
		border: none;
	}
}

.spip_in,
.spip_out,
.liens a {
	border-bottom: 1px dotted $link-color;
	&:hover {
		color: #000;
		border-bottom-style: solid;
	}
}

/* .suite-lien
   ========================================================================== */
.suite-lien {
	position: relative;
	border-bottom: 1px dotted $couleur-gris-bleu;
	// margin-left: 0.5em;
	font-style: italic;
	color: #000;
	em {
		font-style: normal;
		transition: all 0.35s ease-out;
	}

	&:hover {
		color: $couleur-lien;
		border-bottom: 1px solid $couleur-lien;
		em {
			padding-left: 0.5em;
			color: $couleur-lien;
		}
	}
}

/*==========  more  ==========*/
.more {
	font-style: italic;
	em {
		font-style: normal;
		font-family: serif;
		transition: all 0.35s ease-out;
	}
	a {
		border-bottom: 1px dotted $gris-soustitre;
		color: $gris-soustitre;
		font-weight: normal;
		&:hover {
			color: #000;
			border-bottom: 1px solid #000;
			em {
				color: #000;
				padding-left: 1em;
			}
		}
	}
}
.more--read {
	em {
		margin-left: 0.5em;
	}
}
.more--inline {
	margin-left: 0.5em;
	display: inline-block;
	@include font-size(16px,$line-height:false);
}
.more-arrow--big {
	display: block;
	@include font-size(80px,$line-height:false);
	line-height: 180px;
	text-align: center;
	color: lighten($gris-soustitre, 30%);
	transition: all 0.35s ease-out;

	&:hover {
		color: #000;
		margin-left: 20%;
	}
}
/*==========  back-top-page  ==========*/
.back-top-page {
	position: absolute;
	bottom: 1.7em;
	padding-top: 1.5em;
	font-family: $Helvetica-font;
	font-weight: normal;
	text-transform: uppercase;
	@include font-size(12px);
	color: #b2afac;
	&:hover {
		color: #888;
	}
	@include media-query(palm) {
		right: 0;
	}
}
/*==========  link-anim  ==========*/
.link-anim {
	transition: padding 0.35s ease-out;

	&:hover {
		padding-left: 1em;
	}
}
.link-anim--rev {
	&:hover {
		padding-left: 0;
		padding-right: 1em;
	}
}

/*  ==========================================================================
    afficher
    ========================================================================== */

.afficher {
	font-family: $Helvetica-font;
	font-weight: bold;
	@include font-size(38px,$line-height: false);
	line-height: 1;
	background-color: #ddd;
	border: 1px solid #000;
	border-radius: 10em;
	height: 1em;
	width: 1em;
	display: inline-block;
}

.lien-regarder {
	border: 1px solid #fff;
	padding: 0.2em;
	font-family: $Helvetica-font;
	font-weight: bold;
	@include font-size(13px,$line-height: false);
	text-transform: uppercase;
	color: #fff;
	&:hover {
		border-color: #fff;
		background-color: #fff;
		color: $couleur-site;
	}
}
