/*============================
=            list            =
============================*/

.list {
	margin-left: 0;
	list-style: none;
}

.list--dash {
	li {
		margin-left: 1em;
		position: relative;
		&:before {
			position: absolute;
			left: -1em;
			content: "–";
		}
	}
}

.list--aside {
	li {
		&:before {
			color: $gray-blue;
		}
	}
	.hN {
		@include font-size(15px);
	}
}

/*==========  liste spip  ==========*/
ul.spip {
	margin-left: $base-spacing-unit;
	@include media-query(lap-and-up) {
		margin-left: 0;
	}
	list-style-type: square;
	ul.spip {
		margin-left: $base-spacing-unit;
		margin-left: ($base-spacing-unit / $base-font-size)*1rem;
	}
}
ol.spip {
	margin-left: $base-spacing-unit;
	@include media-query(lap-and-up) {
		margin-left: 0;
	}
	ol.spip {
		margin-left: $base-spacing-unit;
		margin-left: ($base-spacing-unit / $base-font-size)*1rem;
	}
}

/*-----  End of list  ------*/
