/* ==========================================================================
   .page-foot
   ========================================================================== */

.page-foot {
    hr {
        border: 0;
        height: 1px;
        background: #000;
    }
    .hN {
        margin-bottom: 0.5em;
        font-family: $Helvetica-font;
		font-weight: bold;
        @include font-size(15px);
        text-transform: uppercase;

    }
    .desc-main {
        padding-right: 2em;
        @include font-size(15px,$line-height:false);
        line-height: 1.3;
    }
    .mentions {
        border-top: 1px solid #000;
        padding: .5em 0 1em;
        > li {
            @include font-size(14px);
            a {
                color: $gray;
                &:hover {color: #000;}
            }
        }
    }
}

@include media-query(lap-and-up) {
    .page-foot {
        .hN,
        .desc-main {
            @include font-size(16px);
        }
        .mentions {
            > li {
                @include font-size(15px);
            }
        }
    }
}
