[(#REM) 
    ************************************
    Constantes
    ************************************

    Transmises dans l'environnement 
    ------------------------------------
    * = attribuée par défaut

    Variante layout :
        - 4col2lignesRubArt : Variante sur 4 colonnes et 2 lignes (minimum) avec la rubrique, puis les articles

    css : 
        - rubrique_resume_type : resume--stack|logo|text*|hero
        - rubrique_header_class
        - rubrique_titre_class
        - rubrique_desc_class

    contenus de l'élément :
        - rubrique_header_supprimer : oui|non*
        - rubrique_suite_afficher : oui|non*
        - rubrique_resume_numero_titre_afficher : oui|non*

    logo :
        - rubrique_logo_supprimer : oui|non*

    contenus de l'élément enfant : 
        - articles_tri : titre

    Calculée dans le squelette 
    ------------------------------------
    logo :
        - logo : oui|non*
        - logo_format : paysage*|portrait|vignette
        - figure_class
]
[(#REM) css ]
    #SET{rubrique_resume_type,#ENV{rubrique_resume_type,resume--text}}


[(#REM) contenus élément ]

[(#REM) logo ]
    #SET{logo,''}
    #SET{logo_format,#ENV{logo_format,paysage}}

[(#REM) contenus éléments enfant ]
    #SET{articles_tri,#ENV{articles_tri,titre}}


<BOUCLE_rubrique_4col2lignesRubArt(RUBRIQUES){id_rubrique}>
[(#LOGO_RUBRIQUE|oui)
    #SET{logo,' '}
    [(#ENV{rubrique_logo_supprimer}|?{#SET{logo,''}})]
    [(#LOGO_RUBRIQUE|largeur|>{#LOGO_RUBRIQUE|hauteur}|?{
        #SET{logo_format,paysage},#SET{logo_format,portrait}
    })]
    [(#SET{figure_class,#VAL{resume__figure--}|concat{#GET{logo_format}}})]
]

[(#GET{logo}|?{
    #SET{contenu_class,grid__item--bottom lap-and-up-one-half},
    #SET{contenu_class,lap-and-up-three-quarters push--lap-and-up-one-quarter}
})]

<article class="resume resume-rubrique[ (#GET{rubrique_resume_type})]">
    <div class="group group--parent">
        [(#GET{logo}|oui)
        <div class="grid__item grid__item--bottom lap-and-up-one-half">
            [(#GET{logo_format}|=={portrait}|?{
            <div class="grid"><div class="grid__item lap-and-up-one-half push--lap-and-up-one-half">})]
                [(#INCLURE{fond=inclure/objets/logo-rubrique,
                    id_rubrique,
                    logo_format=#GET{logo_format},
                    figure_class=#GET{figure_class}}
                )]
            [(#GET{logo_format}|=={portrait}|?{
            </div></div>})]
        </div><!-- /.grid__item -->
        ]
        <div class="grid__item[ (#GET{contenu_class})]">
            [(#INCLURE{fond=inclure/resumes/rubrique-header,
                id_rubrique,
                resume_type=#GET{rubrique_resume_type},
                titre_class=#ENV{rubrique_titre_class}}
            )]
            [(#INCLURE{fond=inclure/resumes/rubrique-descriptif,
                id_rubrique,
                desc_class=#ENV{rubrique_desc_class},
                suite_afficher=#ENV{rubrique_suite_afficher},
                resume_numero_titre_afficher=#ENV{rubrique_resume_numero_titre_afficher},
                desc_class=#ENV{rubrique_desc_class}}
            )]
        </div><!-- /.grid__item -->
    </div><!-- /.group.groupe--parent -->
    <B_articles_rubrique>
    <div class="grid__item lap-and-up-three-quarters push--lap-and-up-one-quarter">
        <div class="grid">
            <BOUCLE_articles_rubrique(ARTICLES){id_rubrique}{par #GET{articles_tri}}>
            [<div class="grid__item lap-and-up-one-third">
                (#INCLURE{fond=inclure/layout/article-1colArt,
                    id_article,
                    article_resume_type=resume--text,
                    article_suite_afficher=#ENV{article_suite_afficher},
                    article_resume_numero_titre_afficher=#ENV{article_resume_numero_titre_afficher},
                    article_logo_supprimer=oui})
            </div><!-- /.grid__item -->]
            </BOUCLE_articles_rubrique>
        </div><!-- /.grid -->
    </div><!-- /.grid__item -->
    </B_articles_rubrique>
</article>

</BOUCLE_rubrique_4col2lignesRubArt>