/*=================================
=            accordeon            =
=================================*/

.accordeon {
    @include media-query(palm) {
        .resume-numero--list {
            padding-left: 1.5em;
        }
    }
}
.accordeon__header {
    position: relative;
    padding-left: 1.5em;
}
.accordeon__link {
    display: block;
    position: absolute;
    left: 0;
    color: $gray-light;
    @include font-size(20px,$line-height:false);
    font-weight: bold;
    -moz-transition:color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
    transition:color 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
        color: $site-color;
        @include vendor(transform-origin,center center);
        @include vendor(transform,rotate(45deg));
    }
}
.accordeon__link--close {
    color: #000;
    @include vendor(transform-origin,center center);
    @include vendor(transform,rotate(45deg));
    &:hover {
        color: $gray-light;
    }
}
.accordeon__content {
    padding-left: 1.5em;
}
.accordeon__content--closed {
    .js & {
        display:none;
    }
}

/*-----  End of accordeon  ------*/

