/*===============================
=            buttons            =
===============================*/

.btn--nav {
    padding: 3px 6px;
    line-height: 1.8;
}

.btn--nav-open {
    position: absolute;
    top: .5em;
    background-color: #fff;
    &:hover {
        background-color: $nav-bg;
        color: #fff;
    }
    .js & {
        margin-left: -6px;
    }
}

.btn--nav-close {
    position: absolute;
    z-index: -1;
    top: .5em;
    background-color: $nav-bg;
}

/*-----  End of buttons  ------*/

