/*=============================
=            chapo            =
=============================*/

.chapo-logo--vertical {
    float: left;
    // margin-left: 10.5%; //desk
    margin-right: $base-spacing-unit;
    margin-bottom: $base-spacing-unit/2;
    width: 49%;
    text-align: right;
}

.chapo-text--vertical {
    margin-left: 25.5%; // desk
}

/*-----  End of chapo  ------*/

