/*=============================
=            forms            =
=============================*/

input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    outline: none;
}

/*==========  recherche  ==========*/
.search__form {
    position: relative;
    // border-radius: 5px;

    @include media-query(portable) {
        // background-color: #fff;
    }
}
    .search__label {
        position: absolute;
        line-height: 1.9;
        text-indent: -9999px;
    }
    .search__field {
        padding-left: 18px;
        margin-top: 0.2em;
        width: 80%;
        -webkit-appearance: none;
        background: none;
        @include font-size(36px,$line-height:false);
        line-height: 1.5;
        color:#444;
    }
    .search__submit {
        float: right;
        padding: 6px 0 0;
        // margin-top: 0.4em;
        border: none;
        background: none;
        width: 15%;
        color:#fff;
        @include font-size(36px,$line-height:false);
        line-height: inherit;
        &:hover {
            color: #444;
        }
    }

/*==========  placeholder  ==========*/
input[type="search"]::-webkit-input-placeholder {color: #fff;}
input[type="search"]:-moz-placeholder {color: #fff;/* Firefox 18- */}
input[type="search"]::-moz-placeholder {color: #fff;/* Firefox 19+ */}
input[type="search"]:-ms-input-placeholder {color: #fff;}

/*-----  End of forms  ------*/
