/*=============================
=            forms            =
=============================*/

input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    outline: none;
}

/*==========  recherche  ==========*/
.search__form {
    position: relative;
    border-radius: 5px;
    @include media-query(portable) {
        background-color: #fff;
    }
}
    .search__label {
        position: absolute;
        line-height: 1.9;
        text-indent: -9999px;
    }
    .search__field {
        border: 0;
        border-radius: 5px;
        padding-top: 6px;
        @include media-query(desk) {
            width: 0px;
            @include vendor(transition,all 0.35s ease-in 0.1s);
            .search__form:hover &,
            &:focus {
                width: 13em;
                width: 85%;
                padding-left: 6px;
                background-color: $gray-light;
            }
        } 
        @include media-query(portable) {
            width: 85%;
        }    
    }
    .search__submit {
        background: transparent url(../img/css/icon__search.svg) no-repeat 0 0.375em; // 0 6px
        -webkit-background-size: 1em 6em; 
        border: none;
        padding-top: 6px;
        margin-left: 3px;
        width: 16px;
        text-indent: -9999px;
        &:hover {
            background-position: 0 -1.625em; // 0 38px
        }
    }

/*-----  End of forms  ------*/
