/*================================
=            headings            =
================================*/

.hN {
    font-weight: normal;
    .navigation & {
        margin-bottom: 0;
        padding-left: 24px;
        border-bottom: 2px solid #fff;
        font-family: 'HelveticaNeueLTStdCnBold','Helvetica Neue',helvetica,sans-serif;
        @include font-size(16px);
        text-transform: uppercase;
        color: #fff;
    }
}
.soustitre {
    display: block;
    font-style: italic;
    line-height: inherit;
    .related & {
        font-size: 100%;
    }
}

.titre-numero {
    font-family: "HelveticaNeueLTStdCnBold", sans-serif;
    text-transform: uppercase;
    .self__header--rubrique &,
    .index-feature & {
        @include font-size(48px);
    }
    .index-issues & {
        @include font-size(28px);
    }
}
.soustitre-numero {
    font-family: "HelveticaNeueLTStdLtCnRegular", sans-serif;
    font-style: normal;
    .self__header--rubrique &,
    .index-feature & {
        font-size: .7em;
    }
}

/*==========  intertitres texte (spip)  ==========*/
h2.spip,
h3.spip,
h4.spip,
h5.spip,
h6.spip {
    margin-top:2 * $base-spacing-unit;
    margin-top:(2 * $base-spacing-unit / $base-font-size)*1rem;
    font-weight: normal;
    line-height: 1;
    color: #000;
}

/*==========  intertitres section  ==========*/
.intertitre-section {
    font-style: italic;
}
// .intertitre-section--aside {}

// .intertitre-section--content {}

/*==========  levels  ==========*/

.intertitre-section--first {
    display: inline-block;
    border-bottom: 1px solid #7f807b;
    padding-left: $base-spacing-unit/2;
    margin-left: -$base-spacing-unit/2;
    @include font-size(18px);
    .toc & {
        // margin-bottom: 0;
    }
}
.intertitre-section--second {
    margin-bottom: 0;
    font-family: "Plantin";
    font-weight: 600;
    font-style: italic;
    @include font-size(16px);
}

/*-----  End of headings  ------*/

