/*================================
=            headings            =
================================*/

.hN {
    font-weight: normal;
    .navigation & {
        margin-bottom: 0;
        padding-left: 24px;
        border-bottom: 2px solid #fff;
        font-family: 'HelveticaNeueLTStdCnBold','Helvetica Neue',helvetica,sans-serif;
        @include font-size(16px);
        text-transform: uppercase;
        color: #fff;
    }
}

.soustitre {
    display: block;
    font-style: italic;
    font-size: 1em;
}

/*==========  intertitres texte (spip)  ==========*/
h2.spip,
h3.spip,
h4.spip,
h5.spip,
h6.spip {
    font-weight: normal;
}

/*==========  intertitres section  ==========*/
.intertitre-section {
    border-bottom: 1px solid #000;
    // padding: 0 0 0 $base-spacing-unit/2;
    padding-left: $base-spacing-unit/2;
    margin-left: -$base-spacing-unit/2;
    display: inline-block;
}
.intertitre-section--aside {
    // border-bottom-color: lighten($gray-blue,15%);
    border-bottom-color: #999;
    // margin-top: .188em;
    margin-bottom: 0;
    // color: $gray-blue;
    @include font-size(18px);
    // font-size: 1em; // 14px défini au niveau du bloc parent
    line-height: 1;
    // text-transform: uppercase;
    // font-family: $HCReg-font;
    font-style: italic;
}
.intertitre-section--content {
    border-bottom-color: #7f807b;
    @include font-size(16px);
    // text-transform: uppercase;
    font-style: italic;
}

.intertitre-meta {
    @include font-size(16px);
}



/*-----  End of headings  ------*/

