/*=============================
=            index            =
=============================*/

/*==========  index-numeros  ==========*/

/*==========  index-feature  ==========*/
.index-feature {
    border: 1px solid #80b83f;
    border-color: #eee;
    border-width: 0 0 1px;
}
/*==========  index-issues  ==========*/
.index-issues {
    .issue {
        margin-bottom: 3em;
    }
}


/*-----  End of index  ------*/

