/*=============================
=            links            =
=============================*/

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    @include vendor(transition,color 0.35s ease-out, border-color 0.35s ease-out);
}
.spip_in,
.spip_out {
    font-weight: bold;
}
.nav a {
    &:hover {
        border-bottom-color: #000;
    }
}
.more {
    font-style: italic;
    em {
        font-style: normal;
        font-family: serif;
        color: lighten($gris-soustitre,10%);
        @include vendor(transition,all 0.35s ease-out);
    }
    a {
        border-bottom: 1px dotted $gris-soustitre;
        color: $gris-soustitre;
        &:hover {
            color: #000;
            border-bottom: 1px solid #000;
            em {
                color: #000;
                padding-left: 1em;
            }
        }
    }
}
.more--read {
    em {
        margin-left: .5em;
    }
}
.more--inline {
    margin-left: .5em;
    display: inline-block;
    @include font-size(16px,$line-height:false);
}
/*==========  link-anim  ==========*/
.link-anim {
    @include vendor(transition,padding 0.35s ease-out);
    &:hover {
        padding-left: 1em;
    }
}
.link-anim--rev {
    &:hover {
        padding-left: 0;
        padding-right: 1em;
    }
}

/*-----  End of links  ------*/

