/*=============================
=            links            =
=============================*/

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    @include vendor(transition,color 0.35s ease-out, border-color 0.35s ease-out);
}
.nav a {
    &:hover {
        border-bottom-color: #000;
    }
}
.more {
    a, em {
        @include vendor(transition,all 0.35s ease-out);
    }
    a {
        border-bottom: 1px dotted #888;
        color: #888;
        &:hover {
            color: #000;
            border-bottom-style: solid;
            em {
                padding-left: .5em;
            }
        }
    }
}

/*-----  End of links  ------*/

