/*=============================
=            media            =
=============================*/

// .media__img {}

/*==========  size  ==========*/

.media--full {
    width: 100%;
    display: block;
}

/*==========  cover  ==========*/
.cover {
    border: 1px solid $gray-white;
    border-color: rgba($gray-white,0.8);
    @include vendor(transition,border-color 0.35s ease-in 0.1s);
}
.cover--thumb {
    margin-right:$base-spacing-unit/2;
    &:hover {
        border-color: rgb(210,210,210);
    }
}
.cover--issue {
    a:hover & {
        border-color: rgb(210,210,210);
    }
}
.cover--bottom {
    border-width: 0 0 1px;
    border-color: $gray-white;
    padding: 0 6px 0 4px;
}
.cover-callout--small {
    margin-top: -1em;
}
.cover-feature--large {
    display: block;
    margin-top: -46px;
    // margin-left: -12px;
    @include media-query(palm) {
        display: none;
    }
}
.cover-feature--small {
    @include media-query(lap-and-up) {
        display: none;
    }
}

.cover--meta {
    margin-top: -2em;
    position: absolute;
    right: 0;
    width: 25%;
    @include media-query(lap-and-up) {
        margin-top: -2.5em;
        position: static;
        width: auto;
    }
}

/*==========  spip_documents  ==========*/
// .spip_documents {}

/* légendes */
.spip_doc_legende {
    color: $gray;
}
.spip_doc_titre {
    font-weight: 600;
    font-style: italic;
    
}
// .spip_doc_descriptif {}

/* insérés dans le texte */
.self__texte {
    .spip_documents {
        margin-top: 4px;
        margin-bottom: 1em;
        img {
            display: block;
        }
        @media only screen and(max-width:1100px) {
            img[height],
            img[width] {
                height: auto;
                width: auto;
                max-width: 100%;
            }
        }
    }
    .spip_documents_center {
        margin-top: 3em;
        margin-bottom: 3em;
        .spip_doc_legende {
            margin-top: .5em;
        }
    }
    .spip_doc_titre,
    .spip_doc_descriptif {
        display: inline;
        @include font-size(14px);
    }
}
.spip_documents_left {
    float: left;
    margin-right: $base-spacing-unit; 
}
.spip_documents_right {
    float: right;
    margin-left: $base-spacing-unit;
}
.spip_documents_center {
    img {
        margin-left: auto;
        margin-right: auto;
    }
}
/* documents joints */
.document { // fichiers et images
    .spip_doc_titre,
    .spip_doc_descriptif {
        @include font-size(16px);
    }
    .spip_doc_titre {
        margin-bottom: 0;
    }
}
.fichier { // fichier uniquement
    padding-bottom: 1.5em;
}


/*-----  End of media  ------*/

