/*============================
=            misc            =
============================*/

/*==========  push (push)  ==========*/

[class*="push--"]{ position:relative; }

@include media-query(desk) {
    .push--desk-one-quarter {
        left: 25%;
    }
    .push--desk-one-eighth {
        left: 12.5%;
    }
}

@include media-query(lap-and-up) {
    .push--lap-and-up-one-quarter {
        left: 25%;
    }
    .push--lap-and-up-one-eighth {
        left: 12.5%;
    }
    .push--lap-and-up-two-quarters {
        left: 50%;
    }
    .psh--lap-and-up-one-quarter {
        padding-left: 25%;
    } 
    .psh--lap-and-up-one-half {
        .toc__img {
            width: 48%;
            float: right;
        }
    }
}


/*==========  spip-admin  ==========*/
body {
    .spip-admin-bloc,
    .spip-admin-float {
        z-index: 99999; top: 10%; left: auto; right: -7%;
        @include vendor(transition,right 0.35s ease-in 0.1s);
        &:hover {
            right: 0;
        }
    }
}
#spip-admin .spip-admin-boutons {
    font:10px/1 $mono-font;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px 0 0 5px;
}

// un truc provisoire en attendant de trouver le bug qui empêche le chargement des css de jquery.ui.tabs
/* surcharge jquery.ui.tabs */

.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
/*.ui-tabs .ui-tabs-nav {  }*/
.ui-tabs .ui-tabs-nav li { list-style: none; position: relative; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a {  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/*-----  End of misc  ------*/

