/*============================
=            misc            =
============================*/

/*==========  push (push)  ==========*/

[class*="push--"]{ position:relative; }

@include media-query(desk) {
    .push--desk-one-quarter {
        left: 25%;
    }
    .push--desk-one-eighth {
        left: 12.5%;
    }
}

@include media-query(lap-and-up) {
    .push--lap-and-up-one-quarter {
        left: 25%;
    }
    .push--lap-and-up-one-eighth {
        left: 12.5%;
    }
    .push--lap-and-up-two-quarters {
        left: 50%;
    }
    .psh--lap-and-up-one-quarter {
        padding-left: 25%;
    } 
    .psh--lap-and-up-one-half {
        .toc__img {
            width: 48%;
            float: right;
        }
    }
}


/*==========  spip-admin  ==========*/
body {
    .spip-admin-bloc,
    .spip-admin-float {
        z-index: 99999; top: 10%; left: auto; right: -7%;
        @include vendor(transition,right 0.35s ease-in 0.1s);
        &:hover {
            right: 0;
        }
    }
}
#spip-admin .spip-admin-boutons {
    font:10px/1 $mono-font;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px 0 0 5px;
}

/*-----  End of misc  ------*/

