/*============================
=            misc            =
============================*/

/*==========  spip-admin  ==========*/
body {
    .spip-admin-bloc,
    .spip-admin-float {
        z-index: 99999; top: 10%; left: auto; right: 0;
    }
}
#spip-admin .spip-admin-boutons {
    font:10px/1 $mono-font;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 0 5px 5px 0;
}

/*-----  End of misc  ------*/

