/*==================================
=            navigation            =
==================================*/

.navigation {
    width: 100%;
    overflow: hidden;

    @include media-query(palm) {
        // Affichage par défaut
        // ======================================
        // le conteneur
        position: absolute;
        top: 0;
        z-index: 200;
        padding-top: 6.6em;
        // les éléments de navigation
        // ======================================
        nav {
            background-color: #ccc;
            .js & {
                background-color: transparent;
                color: #fff;
            }
        }
        ul {
            > li{
                display:list-item;
                > a{
                    display:block;
                    .js & {
                        color: #fff;
                    }
                }
            }
        }
        // bouton close nav
        .btn--nav-close {
            position: absolute;
            top: 0;
            left: -100%;
        }
        // Affichage avec js
        // ======================================
        .js & {
            background-color: $nav-bg;
        }
    }
}

/* :target et animations css */
#nav {
    &:not(:target) {
        z-index: 1;
        height: 0;
    }
    &:target,
    .js & {
        .btn--nav-close {
            left: auto;
            right: $base-spacing-unit;
        }
    }
    .js & {
        height: 100%;
        width: 70%;
        left: -70%;
    }
    .csstransforms3d.js & {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

/*-----  End of navigation  ------*/

