/*============================
=            page            =
============================*/

.page {
    // @extend .grid;
}

/*==========  .wrap  ==========*/

.wrap-out {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.wrap-in {
    position: relative;
    width: 100%;
    @include media-query(palm) {
        .js & {
            left: 0;
        }
        .csstransforms3d.js & {
            -webkit-transform-style: preserve-3d;
            left: 0 !important;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform 500ms ease;
            -moz-transition: -moz-transform 500ms ease;
            -o-transition: -o-transform 500ms ease;
            transition: transform 500ms ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .js-nav & {
            left: 70%;
        }
        .csstransforms3d.js-nav & {
            -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        }
    }
}

.wrap {
    max-width: 1100px;
}

/*==========  .block  ==========*/
.block {
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
}

/*-----  End of page  ------*/

