/*=================================
=            page-foot            =
=================================*/

// .page-foot {}
.page-foot__inner {
    position: relative;
    border-top: 2px solid #000;
    // border-bottom: 1px solid #eee;
    padding-top: .5em
}

/*-----  End of page-foot  ------*/

