/*============================
=            page            =
============================*/

html {
    color: #252525;
}

// .page {}

/*==========  .wrap  ==========*/

.wrap-out {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.wrap-in {
    position: relative;
    width: 100%;
    @include media-query(palm) {
        .js & {
            left: 0;
        }
        .csstransforms3d.js & {
            left: 0 !important;
            @include vendor(transform,translate3d(0,0,0));
            -webkit-transition: -webkit-transform 500ms ease;
            -moz-transition: -moz-transform 500ms ease;
            -o-transition: -o-transform 500ms ease;
            transition: transform 500ms ease;
            @include vendor(backface-visibility,hidden);
        }
        .js-nav & {
            left: 70%;
        }
        .csstransforms3d.js-nav & {
            @include vendor(transform,translate3d(70%,0,0) scale3d(1, 1, 1));
        }
    }
}

.wrap {
    max-width: 1100px;
    @include media-query(desk) {
        padding-top: 3em;
        padding-left: $base-spacing-unit;
        position: relative;
    }
    @include media-query(palm) {
        padding-left: $base-spacing-unit/2;
        padding-right: $base-spacing-unit/2;
    }
}

/*-----  End of page  ------*/

