/*==============================
=            person            =
==============================*/

// .person {}
.person-signature {
    font-style: italic;
    a {
        font-weight: 600;
    }
}

.person-about {
    // .name {}
    .bio {
        @include font-size(14px);
        @include media-query(desk) {
            width: 75%;
        }
    }
}

/*-----  End of person  ------*/

