/*==============================
=            person            =
==============================*/

// .person {}
.person-signature {
    font-style: italic;
    a {
        font-weight: 600;
    }
}
.person-signature--author {
    &.related {
        @include media-query(lap-and-up) {
            margin-top: 3.5em;
        }
    }
}
// .person-signature--itw {}
.person-about {
    // .name {}
    .bio {
        @include media-query(desk) {
            width: 75%;
        }
    }
}

/*-----  End of person  ------*/

