/*==============================
=            resume            =
==============================*/

.resume {
    margin-bottom: 3.5em;
    line-height: 1.125; // 16px
    @include media-query(palm) {
        border-bottom: 1px dotted #ddd;
        margin-bottom: 2em;
    }
}

.resume__titre {
    @include font-size(18px,$line-height:false);
    line-height: 1.1;
    font-weight: 600;
    @include media-query(lap-and-up) {
        margin-bottom: 0;
        min-height: 3.3em;
    }
}
.resume__desc {
    @media only screen and (min-width: 960px) {
        padding-right: $base-spacing-unit*2;
    }
}

/*==========  .resume-rubrique  ==========*/

.resume-rubrique__titre {
    .toc__item & {
        @include font-size(40px,$line-height:false);
        line-height: 0.9;
        font-weight: 600;
        color: #555;
    }
    .index-feature & {
        @include font-size(18px);
        margin-bottom: 0;
    }
    .index-issues & {
        @include font-size(16px);
        margin-bottom: 0;
    }
}
.resume-rubrique__desc {
    @include font-size(22px);
    color: #888;
    @include media-query(lap-and-up) {
        width: 75%;
    }
}

/*==========  .resume-article  ==========*/
.resume-article {
    .resume-article__titre {
        font-weight: 600;
        @include font-size(18px);
    }
}
.resume-article__soustitre {
    // margin-top: 0.25em;
    color: $gris-soustitre;
}
.resume-article__desc {}

/*==========  resume-article--list  ==========*/
.resume-article--list {
    margin-bottom: 2em;
    &:after {
        content: '— ❡ —';
        display: block;
        text-align: center;
        color: $gray-light;
    }
    .resume-article__titre {
        @include font-size(18px);
    }
}

/*==========  resume-numero--list  ==========*/
.resume-numero--list {
    .resume-numero__titre {
        @include font-size(18px,$line-height:false);
        line-height: 1;
    }
    .resume-numero__soustitre {
        line-height: 1.5;
    }
}

/*==========  resume-auteur--list  ==========*/
.resume-auteur--list {
    .resume-auteur__nom {
        border-bottom: 1px solid #000;
        line-height: 1.2;
        color: #000;
    }
}

/*-----  End of resume  ------*/

