/*============================
=            self            =
============================*/

// .self__body {}
.self__texte {
    
    // VOIR TODO
    // h2,h3,h4,h5,h6 {
    //     &:first-child {
    //         background-color: red;
    //     }
    // }
}

// .self__notes { }
.self__notes__body {
    @include media-query(lap-and-up) {
        width: 75%;
    }
    p {
        @include font-size(14px);
    }
}

@include media-query(desk) {
    .self__chapo {
        padding-right: $base-spacing-unit*2;
        @include font-size(18px);
    }
    // .self__body {}
    .self__texte {
        padding-right: 6px;
    }
    .self__texte,
    .self__ps,
    .self__notes {
        width: 66.666%;
    }
}

/*==========  self__header  ==========*/
.self__header--rubrique {
    text-transform: uppercase;
    .titre {
        font-family: "HelveticaNeueLTStdCnBold", sans-serif;
        @include font-size(48px);
        @include media-query(palm) {
            @include font-size(36px);
        }
    }
    .soustitre {
        font-family: "HelveticaNeueLTStdLtCnRegular", sans-serif;
        font-style: normal;
        font-size: .7em;
    }
}

/*==========  self__body  ==========*/
/* article */
.self__body--article {
    .self__texte {
        p {
            &:last-of-type {
                &:after {
                    content: ' ■';
                    color: #000;
                }
            }
        }
    }
}

/*==========  test  ==========*/


.sommaire-art {
    background-color: #FFF;
}
.sommaire-art-header {
    background-color: #fff;
}
.sommaire-art-figure {
    background-color: #FFF;
}
.sommaire-art-desc {
    background-color: #FFF;
}

.auth {
    background-color: #fff;
}


/*==========  exergues dans le #TEXTE  ==========*/

.exergue {
    margin-left: 25%;
    margin-right: -25%;
    @include font-size(26px);
    line-height: 1.3;
    font-style: italic;
    color: lighten($nav-bg,20%);
}


/*-----  End of self  ------*/

