/*============================
=            self            =
============================*/

// .self__body {}
.self__texte {
    blockquote {
        margin-left: $base-spacing-unit*2;
        quotes: '';
        text-indent: 0;
    }
    
    // VOIR TODO
    // h2,h3,h4,h5,h6 {
    //     &:first-child {
    //         background-color: red;
    //     }
    // }
}

// .self__notes { }
.self__notes__body {
    @include media-query(lap-and-up) {
        width: 75%;
    }
    p {
        @include font-size(14px);
    }
}

@include media-query(desk) {
    .self__chapo {
        padding-right: $base-spacing-unit*2;
        @include font-size(18px);
    }
    // .self__body {}
    .self__texte {
        padding-right: 6px;
    }
}
@media only screen and(min-width:800px) {
    .self__texte,
    .self__ps,
    .self__notes {
        width: 66.666%;
    }
}

/*==========  self__header  ==========*/
.self__header {
    .titre {
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
.self__header--rubrique {
    .titre {
        @extend .intertitre-section--first;
        font-style: italic;
        font-weight: 600;
    }
}
.self__header--art {
    .surtitre {
        margin-bottom: 0;
        margin-top: -1em;
        @include font-size(22px);
    }
    .titre {
        margin-top: 0.15em;
        color: #000;
    }
    .soustitre {
        font-size: 71%; // 26px;
        color: $text-color;
    }
}

/*==========  self__body  ==========*/
/* article */
// .self__body--article {}
.self__body--rubrique {
    .self__texte {
        width: 75%;
    }
}

/* article version aperçu/integrale */
.apercu__info {
    background: #222;
    color: #ddd;
    position: relative;
    padding: .5em .5em .25em;
    text-align: center;
    border-radius: 5px;
    a {
        color: #fff;
    }
}
.apercu__fade {
    width: 100%;
    position: absolute;
    left: 0;
    top: -150px;
    height: 150px;
    /* degradé */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(63%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/*-----  End of self  ------*/

