/*=========================================
=            table of content (toc)            =
=========================================*/

// .toc {}
.toc__title {
    position: relative;
    padding-left: $base-spacing-unit;
    font-family: 'HelveticaNeueLTStdCnRegular', sans-serif;
    font-style: normal;
    @include font-size(36px);
    text-transform: uppercase;
    @include media-query(lap-and-up) {
        left: 25%;
    }
}
.toc__img {
    margin-bottom: 2em;
    padding-bottom: 0.5em;
}

/*-----  End of table of content (toc)  ------*/

