/*=============================
=            table            =
=============================*/

.table {
	display: table;
	margin-left: -$base-spacing-unit; // .grid
	// width: 100%; non sinon décalage par rapport à la version .grid/.grid__item
}
.table-100 {
	width: 100%;
}
.table--row {
	display: table-row;
}
.table--cell {
	display: table-cell;
	padding-left: $base-spacing-unit; // .grid__item
	vertical-align: top;
}

/*==========  table--cell size  ==========*/
.table--cell-25 {
	width: 25%;
}
.table--cell-37 {
	width: 37.5%;
}
.table--cell-50 {
	width: 50%;
}
.table--cell-75 {
	width: 75%;
}

@include media-query(lap-and-up) {
	.lap-and-up-table {
		display: table;
		margin-left: -$base-spacing-unit; // .grid
		& > .lap-and-up-table--row {
			display: table-row;
		}
	}
	.lap-and-up-table-100 {
		width: 100%;
	}
	.lap-and-up-table--cell {
		display: table-cell;
		padding-left: $base-spacing-unit; // .grid__item
		vertical-align: bottom;
	}
	.lap-and-up-table--cell-25 {
		width: 25%;
	}
	.lap-and-up-table--cell-50 {
		width: 50%;
	}
	.lap-and-up-table--cell-75 {
		width: 75%;
	}
}

/*==========  tableaux spip  ==========*/
table.spip {
	@extend .table--bordered;
	@extend .table--striped;
	font-family: $Helvetica-font;
	max-width: 100%;
	th {
		color: #000;
		font-weight: normal;
	}
	td {
		color: #666;
	}
	th,
	td {
		border-color: #ddd;
		border-width: 1px 0 0;
	}
	tr:last-child th,
	tr:last-child td {
		border-bottom-width: 1px;
	}
	tbody tr:nth-of-type(odd),
	.row_odd {
		background: #f9f9f9;
	}
	caption {
		color: #999;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
}

/*-----  End of table  ------*/
