

// ----- position ----- //

.u-textCenter {
	text-align: center;
}

.u-textLeft {
	text-align: left;
}

.u-textRight {
	text-align: right;
}


// ----- taille ----- //

.u-textSizeS {
	font-size: smaller;
}

.u-text-size-xl {
	font-size: x-large;
}

.u-text-size-l {
	font-size: large;
}


// ----- couleur ----- //

.u-text-color-lb500 {
	color: hsl(199, 98%, 48%);
}


// ----- font ----- //

.u-text-font-monospace {
	font-family: monospace;
}
