// =====================================
// c-btn
// =====================================

.c-btn {
	border: 0;
	display: inline-block;
	margin: 0;
	overflow: visible;
	margin: $spacing-unit-tiny $spacing-unit-small $spacing-unit-tiny 0;
	padding: $spacing-unit-tiny + $spacing-unit-tiny/2 $spacing-unit-tiny $spacing-unit-tiny;
	vertical-align: middle;
	color: inherit;
	font: inherit;
	text-align: center;
	cursor: pointer;
}


//
// c-btn--burger
// -------------------------------------
.c-btn--burger {
	position: relative;
	z-index: $zindex-site-nav__menu + 1;
	top: -2px;
	padding: 0;
	border: none;
	border-radius: 50%;
	margin: auto 0 auto $spacing-unit-small;
	height: $btn-burger-height;
	width: $btn-burger-width;
	background-color: $color-orange;
	color: $color-white;
}


//
// c-btn--white
// -------------------------------------
.c-btn--white {
	border: 1px solid $color-white;
	background-color: transparent;
	color: $color-white;
	
	&:hover,
	&:focus {
		color: $color-black;
		border-color: $color-black;
	}
}


//
// c-btn--upper
// -------------------------------------
.c-btn--upper {
	text-transform: uppercase;
}


//
// c-btn-form
// -------------------------------------
.c-btn-form {
	button {
		@extend .c-btn;
	}
}

.c-btn-form--white {
	button {
		@extend .c-btn--white;
	}
}

.c-btn-form--upper {
	button {
		@extend .c-btn--upper;
	}
}
