// =====================================
// c-btn
// =====================================

.c-btn {
	border: 0;
	display: inline-block;
	margin: 0;
	overflow: visible;
	margin: $spacing-unit-tiny 0;
	padding: $spacing-unit-tiny + $spacing-unit-tiny/2 $spacing-unit-tiny $spacing-unit-tiny;
	vertical-align: middle;
	color: inherit;
	font: inherit;
	text-align: center;
	cursor: pointer;
}


	//
	// c-btn--burger
	// -------------------------------------
	.c-btn--burger {
		position: relative;
		z-index: $zindex-site-nav__menu + 1;
		top: -2px;
		padding: 0;
		border: none;
		border-radius: 50%;
		margin: auto 0 auto $spacing-unit-small;
		height: $btn-burger-height;
		width: $btn-burger-width;
		background-color: $color-orange;
		color: $color-white;
	}
	
	//
	// c-btn--submit
	// -------------------------------------
	.c-btn--submit {
		background-color: $color-blue-grey-600;
		color: $color-white;
		letter-spacing: .05em;
		transition: all $lien-transition;
		
		&:hover,
		&:focus {
			background-color: $color-blue-600;
		}
	}
	
	
	//
	// c-btn--delete
	// -------------------------------------
	.c-btn--delete {
		padding: 0;
		margin: 0;
		color: $color-blue-500;
	}


	//
	// c-btn--white
	// -------------------------------------
	.c-btn--white {
		border: 1px solid $color-white;
		background-color: transparent;
		color: $color-white;
		letter-spacing: .05em;
		transition: all $lien-transition;
		
		&:hover,
		&:focus {
			color: $color-black;
			border-color: $color-black;
		}
	}
	
	
	//
	// c-btn--black
	// -------------------------------------
	.c-btn--black {
		border: 1px solid $color-black;
		background-color: transparent;
		color: $color-black;
		letter-spacing: .05em;
		transition: all $lien-transition;
		
		&:hover,
		&:focus {
			color: $color-white;
			background-color: $color-lien;
			border-color: $color-lien;
		}
	}


	//
	// c-btn--upper
	// -------------------------------------
	.c-btn--upper {
		text-transform: uppercase;
	}


	//
	// c-btn-extended
	// -------------------------------------
	.c-btn--extended {
		width: 100%;
	}

	//
	// c-btn--round
	// -------------------------------------
	.c-btn--round {
		border-radius: 5px;
	}



// c-btn-form
// -------------------------------------
// 
// Avec une balise #BOUTON_ACTION, la classe du bouton n'est
// pas accessible, seul celle du conteneur <form> l'est.
// 

.c-btn-form {
	button {
		@extend .c-btn;
	}
}

.c-btn-form--white {
	button {
		@extend .c-btn--white;
	}
}

.c-btn-form--black {
	button {
		@extend .c-btn--black;
	}
}

.c-btn-form--upper {
	button {
		@extend .c-btn--upper;
	}
}



//
// .boutons .submit
// -------------------------------------
//
// bouton submit des formulaires SPIP
// 
.boutons {
	.submit {
		@extend .c-btn;
		@extend .c-btn--submit;
		@extend .c-btn--round;
		@extend .c-btn--upper;
		width: 100%;
	}
}
