/*  ==========================================================================
    .btn
    ========================================================================== */

    .btn-shortcut-container {
      position: absolute;
      top: 0;
    }

/* 
    .btn-nav
    ========================================================================== */
    
    .btn-nav {}
    
    .btn-nav-open {
        left: $base-spacing-unit/2;
        padding-left: 0;
        @include media-query(lap-and-up) {
            left: $base-spacing-unit;
        }
    }
    
    // .btn-nav-close {}
    
    .btn-nav-search {
      @include media-query(desk) {
        padding:0;
        line-height: 1;
        // vertical-align: text-top;
      }
    }
