// =====================================
// c-cadeau
// =====================================


.c-cadeau {}


//
// c-cadeau-section
// -------------------------------------

.c-cadeau-section {
	margin-bottom: $spacing-unit-large;
}


//
// c-cadeau__intro
// -------------------------------------

.c-cadeau__intro {
	margin: $spacing-unit 0 $spacing-unit-large;
}


//
// c-cadeau__intro
// -------------------------------------

.c-cadeau__content {
	margin: $spacing-unit 0 $spacing-unit-large;
}
