// =====================================
// exergue
// =====================================

// modèle spip inséré dans les articles
// <exergue|texte=le texte.>
// 
// et qui produit le html
// <blockquote class="exergue">
// </blockquote>


.exergue {
	margin-left: 25%;
	margin-top: 2em;
	margin-bottom: 2em;
	@include font-size(26px, false);
	line-height: 1.3;
	font-style: italic;
	color: lighten($nav-bg,20%);
	@media only screen and(min-width:800px) {
		margin-right: -25%;
	}
}
