// =====================================
// formulaire_valider_panier
// =====================================

.formulaire_valider_panier {
	border-width: 0 0 1px;
	margin-bottom: $spacing-unit-huge;
	padding: 0;
	
}
