

.c-form {
	font-family: $font-helvetica;
	
	label {
		@include inuit-font-size(18px);
	}
	
	
	// ----- Styles des saisies SPIP ----- //
	
	.saisie_radio {
		margin-bottom: $spacing-unit;
	}
	
	.saisie_input,
	.saisie_pays,
	.saisie_email {
		margin-bottom: $spacing-unit;
		
		> label {
			display: block;
		}
	}
}


//
// c-form__champ
// -------------------------------------

.c-form__champ {
	border: 1px solid $color-white;
	margin: $spacing-unit-tiny 0 $spacing-unit;
	padding: $spacing-unit-tiny;
	width: 100%;
	font-family: $font-helvetica;
	font-weight: bold;
	line-height: normal;
	
	&:focus {
		border-color: $color-black;
	}
}
