/*  ==========================================================================
    .spip_documents
    ========================================================================== */
    .media__titre, .spip_doc_titre {
        margin-bottom: 0;
        font-style: italic;
        color: $couleur-gris-moyen;
    }
    .media__descriptif {
        margin-bottom: 0;
        color: $couleur-gris-moyen;
    }
    .media__credit {
        margin-bottom: 0;
        color: $couleur-gris-clair;
        @include font-size(12px);

    }

/*  images insérées dans le texte. Version standard.
    ========================================================================== */
    .media--illustration {
        margin-top: 4px;
        margin-bottom: 1em;
        img {
            display: block;
        }
        @media only screen and(max-width:1100px) {
            img[height],
            img[width] {
                height: auto;
                width: auto;
                max-width: 100%;
            }
        }
    }
    /*.media__legende--illustration {
        .spip_doc_titre,
        .spip_doc_descriptif {
            @include font-size(14px,$line-height: false);
            line-height: 1.4;
            margin-bottom: 0;
        }
    }*/
    .media__titre--illustration,
    .media__descriptif--illustration,
    .media__credit--illustration {
        @include font-size(14px,$line-height: false);
        line-height: 1.4;
        margin-bottom: 0;
    }

    /* Alignements */
    .media--center {
        margin-top: 3em;
        margin-bottom: 3em;
        img {
            margin-left: auto;
            margin-right: auto;
        }
        .spip_doc_legende {
            margin: .5em auto 0;
        }
    }
    .media--left {
        float: left;
        margin-right: $base-spacing-unit;
    }
    .media--right {
        float: right;
        margin-left: $base-spacing-unit;
    }

/*  images insérées dans le texte. Version timeline
    ========================================================================== */
    .self__body--timeline {
        .spip_documents {
            position: relative;
            @extend %timeline-dot;
            @extend %timeline-dot--gris;
            &:before {
                position: absolute;
                top: -14px;
                left: -29px;
            }
            @include media-query(lap-and-up) {
                position: absolute;
                right: 100%;
                margin-right: 64px;
                &.image--portrait {
                    width: 70%;
                }
                &.image--paysage {
                    width: 100%;
                }
                &:before {
                    top: -13px;
                    top: 0;
                    right: -45px;
                    left: auto;
                }
            }
            img {margin-top: 1em;}
        }
        .spip_documents_left,
        .spip_documents_right {
            float: none;
        }
        .spip_documents_center {
            margin-top: 0;
        }
    }

/*
   documents en diaporama
   ========================================================================== */
.media--diaporama {
    margin-bottom: 2em;
}
.media__legende--diaporama {
    padding-top: .5em;
    padding-left: .5em;
    border-left: 1px dotted #999;
}
.media__titre--diaporama {
    @include font-size(16px,$line-height: false);
    line-height: 1.4;
}


/*  Documents joints en pied d'article
    ========================================================================== */
    /* fichiers et images */
    .document {
        .spip_doc_titre,
        .spip_doc_descriptif {
            @include font-size(16px);
        }
        .spip_doc_titre {
            margin-bottom: 0;
        }
    }

    /* fichier uniquement */
    .fichier {
        padding-bottom: 1.5em;
    }
