// déprécié
@import "deprecie/message";

// =====================================
// c-message
// =====================================

.c-message {
	padding: $spacing-unit $spacing-unit $spacing-unit-small;
	@include inuit-font-size(20px);
	text-align: center;
	
	> a {
		border-bottom: 1px dotted $link-color;
	}
	
	//
	// Variantes
	// -------------------------------------

	&--erreur {
		border: 3px solid $color-error;
	}
	
	
	&--ok {
		border: 3px solid $color-lime-500;
	}
	
	
	&--attention {
		border: 2px solid $color-lime-500;
	}
}
