// déprécié
@import "deprecie/message";

// =====================================
// c-message
// =====================================

.c-message {
	padding: $spacing-unit;
	@include inuit-font-size(20px);
	text-align: center;
	
	> a {
		border-bottom: 1px dotted $link-color;
	}
	
	//
	// Variantes
	// -------------------------------------

	&--error {
		border: 3px solid $color-error;
	}
}
