// déprécié
@import "deprecie/message";

// =====================================
// c-message
// =====================================

.c-message {
	padding: $message-padding;
	@include inuit-font-size(16px, 1.2);
	text-align: center;
	
	> a {
		color: $color-lien;
	}
	
	//
	// Variantes
	// -------------------------------------
	
	&--simple {
		padding: 0;
	}
	
	&--erreur {
		border: $message-border-erreur;
	}
	
	
	&--ok {
		border: $message-border-ok;
	}
	
	
	&--attention {
		border: $message-border-attention;
	}
	
	&--info {
		border: $message-border-info;
	}
}
