// =====================================
// c-numero
// =====================================


.c-numero {
	margin-bottom: $spacing-unit-huge;
}


//
// c-numero__header
// -------------------------------------

.c-numero__header {}


	//
	// c-numero__titre-conteneur
	// -------------------------------------

	.c-numero__titre-conteneur {
		border-bottom: 1px solid $color-black;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: $spacing-unit-large;
	}


		//
		// c-numero__titre
		// -------------------------------------

		.c-numero__titre {
			@include inuit-font-size(48px, 1);
		}

		.c-numero__saison {
			@include inuit-font-size(24px, 1);
			font-weight: 300;
		}
		
		.c-numero__titre,
		.c-numero__saison {
			margin-bottom: $spacing-unit-tiny;
			text-transform: uppercase;
		}
	
	
	
	//
	// c-numero__intro-conteneur
	// -------------------------------------
	
	.c-numero__intro-conteneur {
		display: flex;
		justify-content: space-between;
	}
	
	
		//
		// c-numero__couverture
		// -------------------------------------

		.c-numero__couverture {
			margin-bottom: 0;
			width: 33%;
		}
		
		
		//
		// c-numero__intro
		// -------------------------------------
		
		.c-numero__intro {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 60%;
		}


//
// c-numero__texte
// -------------------------------------

.c-numero__texte {}


//
// c-numero__achat
// -------------------------------------

.c-numero__achat {
	border-top: 1px solid $color-black;
	
	.c-numero-resume & {
		border-top-width: 0;
	}
}


	//
	// c-numero__achat-item
	// -------------------------------------

	.c-numero__achat-item {
		border-bottom: 1px solid $color-black;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $spacing-unit-small 0;
	}
	
	
	//
	// c-numero__achat-info
	// -------------------------------------
	
	.c-numero__achat-info {
		margin-bottom: 0;
		margin-top: $spacing-unit-tiny;
		text-transform: uppercase;
		
		> a {
			text-transform: none;
		}
	}
	
	.c-numero__achat-info--epuise {
		@include inuit-font-size(22px);
		
		.c-numero-resume & {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	
	//
	// c-numero__achat-label
	// -------------------------------------
	
	.c-numero__achat-label {
		margin-bottom: 0;
		margin-top: $spacing-unit-tiny;
		@include inuit-font-size(20px, 1);
		text-transform: uppercase;
	}


//
// c-numero__prix
// -------------------------------------

.c-numero__prix {
	font-weight: bold;
	@include inuit-font-size(24px, 1);
}
