/*  ==========================================================================
    overlay
    ========================================================================== */
    
    /*
     *  .overlay
     *  
     *  modificateurs
     *  -------------------------------------
     *  .overlay--article-postdate   
     *  .overlay--article-archive
     *
     *
     */

    .overlay {
        position: absolute;
        width: 100%;
    }

/*  modificateurs
    ========================================================================== */
    .overlay--top-bottom {
        bottom: 0;
        top: 0;
    }
    .overlay--article-postdate {
        top: 50%;
        bottom: 0;
        @include media-query(palm){
            bottom: 1.5em; // pour compenser la marge basse.
        }
    }
    .overlay--article-archive {
		background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
        bottom: 0;
        top: 50%;
    }



/*  overlay-degrade
    ========================================================================== */
.overlay-degrade {
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}


/*  overlay-frame
    ========================================================================== */

.overlay-frame {
    position: relative;
    @include media-query(lap-and-up) {
        height: 140px;
        overflow: hidden;
    }
    > img {
        display:block;
        @include media-query(lap-and-up) {
            max-width: initial;
            position: relative;
            left: 100%;
            margin-left: -200%;
            display: inline;
        }
    }
}
    .overlay-frame__hover {
        padding: 0.5em;
        @include media-query(lap-and-up) {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            background-color: $couleur-site;
        }
    }

/*  overlay-frame--effect-bottom-up
    http://tympanus.net/Tutorials/CaptionHoverEffects/index3.html
    ========================================================================== */
@include media-query(lap-and-up) {
    .overlay-frame--effect-bottom-up {
        > img {
			transition: transform 0.4s;
            @include media-query(lap-and-up) {max-width: initial;}
        }
        .overlay-frame__hover {
            height: 90%;
            top: auto;
            bottom: 0;
            opacity: 0;
			transform: translateY(100%);
			transition: transform 0.4s, opacity 0.1s 0.3s;
        }
        &:hover {
            > img {
				transform: translateY(-50%);
			}
            .overlay-frame__hover {
                opacity: 1;
				transform: translateY(0);
				transition: transform 0.4s, opacity 0.1s;
            }
        }
    }
}
