// =====================================
// c-page-header
// =====================================

.c-page-header {
	position: relative;
}

.c-page-header__site-nav {}

.c-page-header__shortcuts {
	font-family: $Helvetica-font;
	@include inuit-font-size(16px, 2);
	text-transform: uppercase;
	background-color: red;
}
