// =====================================
// panier-mini
// =====================================


.c-panier-mini {
	position: fixed;
	top: 0;
	right: calc(calc(100vw - calc(#{$spacing-unit} * 3)) * -1);
	z-index: $zindex-panier-mini;
	height: 100%;
	width: calc(100vw - calc(#{$spacing-unit} * 3));
	padding: $spacing-unit;
	visibility: hidden;
	background-color: $color-white;
	transition: transform ease-in-out 0.5s, visibility ease-in-out .5s;
	
	&.est-ouvert {
		display: block;
		visibility: visible;
		transform: translateX(-100%);
	}
	
	> div {
		// le div ajax ajouté par SPIP doit avoir une hauteur explicite
		// et le scroll du bloc .c-panier-mini-contenu devient disponible.
		height: 100%;
	}
	
	@include mq(tablet) {
		right: calc(calc(100vw - calc(#{$spacing-unit} * 6)) * -1);
		width: calc(100vw - calc(#{$spacing-unit} * 6));
	}
	
	@include mq(tabletPlus) {
		right: -470px;
		width: 470px;
	}
}

//
// équivalent header
// ---------------------------------------------------------------------------

	// ----- c-panier-mini__titre ----- //
	.c-panier-mini__titre {
		margin-bottom: $spacing-unit-small;
		@include inuit-font-size(18px);
	}
	
	
	// ----- c-panier-mini__contenu ----- //
	.c-panier-mini__contenu {
		display: flex;
		flex-flow: column nowrap;
		height: calc(100% - calc(#{$spacing-unit}));
		width: 100%;
	}
	
	
//
// items
// --------------------------------------------------------------------------
// 
// Définitions des styles pour tous les items : 
// articles et totaux
// 
	
		// ----- c-panier-mini__liste-items ----- //
		.c-panier-mini__liste-items {
			border-top: 1px solid $color-black;
			margin-bottom: 0;
		}
		
		
		// ----- c-panier-mini-item ----- //
		.c-panier-mini-item {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			width: 100%;
			
			&--vide {
				display: block;
				padding-top: $spacing-unit-large;
			}
		}
		
		
			// ----- c-panier-mini-item__descriptif ----- //
			.c-panier-mini-item__descriptif {}
			
			
				// ----- c-panier-mini-item__titre ----- //
				.c-panier-mini-item__titre {
					display: flex;
					justify-content: space-between;
				}
				
				
					// ----- c-panier-mini-item__intitule ----- //
					.c-panier-mini-item__intitule {
						margin-bottom: 0;
						
						&,
						+ span {
							@include inuit-font-size(14px, 1.2);
						}
						
						+ span {
							font-weight: bold;
						}
						
						@include mq(tablet) {
							&,
							+ span {
								@include inuit-font-size(16px, false);
							}
						}
					}
				
				
				// ----- c-panier-mini-item__designation ----- //
				.c-panier-mini-item__designation {
					margin-bottom: 0;
					@include inuit-font-size(13px, 1.2);
					
					@include mq(tablet) {
						@include inuit-font-size(15px, false);
					}
				}


//
// articles
// ---------------------------------------------------------------------------

		//
		// c-panier-mini__liste-articles
		// -------------------------------------
		.c-panier-mini__liste-articles {
			flex: 1 1 auto;
			overflow-y: scroll;
		}


		//
		// c-panier-mini-article
		// -------------------------------------
		.c-panier-mini-article {
			border-top: 1px solid $color-gray-300;
			align-items: center;
			padding: $spacing-unit $spacing-unit-small;
			
			&:first-child {
				border-top: none;
			}
		}
		
		
		//
		// c-panier-mini-article__img
		// -------------------------------------
		.c-panier-mini-article__img {
			align-self: flex-start;
			flex: 0 0 30%;
			padding-right: $spacing-unit-small;
			
			// &--collection {
			// 	align-self: flex-start;
			// 	position: relative;
			// 	width: 30%;
			// 
			// 	> img {
			// 		position: absolute;
			// 		top: 0;
			// 		left: 8px;
			// 		@include rotate(1.5, 8);
			// 		transform-origin: 50% 30%;
			// 		width: 70%;
			// 	}
			// }
		}
		
		
		//
		// c-panier-mini-article__descriptif
		// -------------------------------------
		.c-panier-mini-article__descriptif {
			flex: 0 0 66%;
			width: 66%;
		}
		
		
			//
			// c-panier-mini-article__titre
			// -------------------------------------
			.c-panier-mini-article__titre {
				margin-bottom: $spacing-unit-small;
			}
			
			
				//
				// c-panier-mini-article__intitule
				// -------------------------------------
				.c-panier-mini-article__intitule {
					margin-right: $spacing-unit-small;
				}
				
				
				//
				// c-panier-mini-article__designation
				// -------------------------------------
				.c-panier-mini-article__designation {}
				
				
				//
				// c-panier-mini-article__prix-unitaire
				// -------------------------------------
				.c-panier-mini-article__prix-unitaire {}


//
// footer
// ---------------------------------------------------------------------------
	
	// ----- c-panier-mini__footer ----- //
	.c-panier-mini__footer {}
	


//
// totaux
// -------------------------------------

		// ----- c-panier-mini-totaux ----- //
		.c-panier-mini-totaux {
			padding-top: $spacing-unit-tiny;
		}
		
		
		// ----- c-panier-mini-total ----- //
		.c-panier-mini-total {
			padding: $spacing-unit-tiny 0;
		}


//
// c-panier-mini-overlay
// -------------------------------------
.c-panier-mini-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: rgba($color-black, .45);
	opacity: 0;
	visibility: hidden;
	transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
	
	&.est-visible {
		display: block;
		visibility: visible;
		z-index: $zindex-panier-mini-overlay;
		opacity: 1;
	}
}
