// =====================================
// payer_mode
// =====================================

// 
// Classes définies par le plugin Bank
// 

.payer_mode {
	flex: 1 1 100%;
	border: 1px solid $color-blue-grey-200;
	margin: 5px;
	padding: 10px;
	background-color: $color-blue-grey-100;
	
	@include mq(tabletPlus) {
		flex: 1 1 30%;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; } 
	}
	
	.titre {
		font-family: $font-helvetica;
		@include inuit-font-size(18px);
		font-weight: bold;
		text-transform: uppercase;
	}
	
	p {
		margin-bottom: $spacing-unit-small;
	}
	
	.boutons {
		font-family: $font-helvetica;
	}
	
	.submit {
		margin: $spacing-unit-tiny 0;
		width: auto;
	}
}
