/*==============================
=            person            =
==============================*/

// .person {}
.person-signature {
    font-style: italic;
    a {
        font-weight: 600;
    }
}
.person-signature--author {
    .resume & {
        color: $gray;
    }
    .resume--stack & {
        color: $text-color;
    }
    &.related {
        @include media-query(lap-and-up) {
            width: 70%;
            margin-top: 4.3em;
            // margin-bottom: 0;
            @include font-size(14px);
        }
    }
}
.person-signature--itw {
    @include font-size(14px);
}
.person-about {
    // .name {}
    .bio {
        margin-bottom: 1.5em;
        @include media-query(desk) {
            width: 75%;
        }
    }
}

/*-----  End of person  ------*/

