// =====================================
// c-progression
// =====================================

//
// WARNING: barre de progression adaptée pour deux éléments (largeur 50%)
// Il faudra modifier pour d'autres situations que le formulaire d'abonnement.
//


.c-progression {
	margin-bottom: $spacing-unit + $spacing-unit-small;
}


// ----- c-progression__liste ----- //

	.c-progression__liste {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		font-family: $font-helvetica;
		text-transform: uppercase;
		
		@include mq(tablet) {
			flex-direction: row;
			justify-content: center;
		}
	}
	
	
		.c-progression__liste-item {
			position: relative;
			height: 3em;
			
			
			&:not(:last-child) {
				&:before {
					position: absolute;
					left: 8px;
					top: calc(3em - 27px);
					height: 3em;
					width: 2px;
					content: '';
					background-color: $color-gray-300;
				}
			}
			
			&:after {
				border: 2px solid $color-gray-300;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: calc(50% - 12px);
				height: 18px;
				width: 18px;
				content: '';
				background-color: $color-white;
			}
			
			&.est-actuel,
			&.est-passe {
				&:after {
					border-width: 2px;
					border-color: $color-orange-500;
					transform: scale3d(1.3, 1.3, 1);
				}
			}
			
			&.est-passe {
				&:before {
					background-color: $color-orange-500;
				}
				
				&:after {
					transform: scale3d(1,1,1);
				}
			}
			
			@include mq(tablet) {
				height: auto;
				width: 50%; // WARNING: uniquement pour 2 éléments 
				text-align: center;
				
				&:not(:last-child) {
					margin-right: 100px;
					
					&:before {
						top: auto;
						left: 50%;
						bottom: 8px;
						height: 2px;
						width: calc(100% + 100px);
					}
				}
				
				&:after {
					left: 50%;
					top: auto;
					bottom: 0;
					transform: translateX(-50%);
				}
			}
		}
		
		
// ----- c-progression__item ----- //

			.c-progression__item {
				padding-left: $spacing-unit + $spacing-unit-tiny;
				display: block;
				line-height: 3em;
				white-space: nowrap;
				color: $color-gray-400;
				
				.est-actuel &,
				.est-passe & {
					color: $color-orange-500;
				}
				
				@include mq(tablet) {
					padding-left: 0;
					padding-bottom: $spacing-unit-small;
				}
			}
