// =====================================
// c-promo
// =====================================


.c-promo {
	display: table;
	padding: $spacing-unit $spacing-unit-large;
	background-color: $color-orange-500;
	text-align: center;
	
	span {
		display: block;
	}
}


	// ----- c-promo__slogan ----- //
	
	.c-promo__slogan {
		@include inuit-font-size(20px);
	}
	
	
	
	// ----- c-promo__tarif ----- //
	
	.c-promo__tarif {
		@include inuit-font-size(18px);
	}
	
	
	// ----- c-promo__lien ----- //
	
	.c-promo__lien {
		
	}
