/*  ==========================================================================
    resume
    ========================================================================== */
    // .resume(-article)
    //     .resume__lien
    //       .resume__header
    //       .resume__desc

    .resume__lien { 
        // --------------------------------------------------------------------
        // Si le hover des liens est en couleur, 
        // alors ce style n'est plus nécessaire !!
        // --------------------------------------------------------------------
        // display: block;
        // border: 0;
        // background-color: transparent;
        // outline: 3px dotted transparent;
        // @include transition(background 0.3s ease,outline 0.3s ease);
        // &:hover {
            // background-color: rgba(#ddd,0.3);
            // outline: 3px dotted rgba(#ddd,0.3);
        // }
    }
    .resume__titre {
        @include font-size(18px,$line-height:false);
        line-height: 1.2;
        // font-weight: 600;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    .resume__soustitre {
        display: block;
        @include font-size(16px);
        font-style: italic;
    }
        .resume__auteur,
        .resume__signature {
            font-style: italic;
            color: $gris-soustitre;
        }
            // .resume__desc {}
           .resume__more {
                time {
                    color: $gris-soustitre;
                    &:after {
                        margin-left: 0.3em;
                        content: '|';
                        color: $gray-light;
                    }
                }
                .more {
                    border-bottom: 1px dotted $gris-soustitre;
                    color: $gris-soustitre;
                    &:hover {
                        color: #000;
                        border-bottom: 1px solid #000;
                        em {
                            color: #000;
                            padding-left: 1em;
                        }
                    }
                }
           }


/* 
   .resume-article
   ========================================================================== */
   
   .resume-article {
       position: relative;
   }

/* 
   .resume-article--selection 
   ========================================================================== */
   
   // TODO : à supprimer ?

   // .resume-article--selection {
   //      .resume__titre {
   //          @include media-query(lap) {
   //              @include font-size(20px);
   //          }
   //          @include media-query(desk) {
   //              @include font-size(22px);
   //          }
   //      }
   //      .resume__signature,
   //      .resume__desc,
   //      .resume__more {
   //          @include media-query(desk) {
   //              @include font-size(18px);
   //          }
   //      }
   // }

/* 
   .resume-article--court
   ========================================================================== */

    .resume-article--court {
        &.resume {
            margin-bottom: 0;
            border-width: 0;
        }
        .resume__titre {
            margin-bottom: 0;
            min-height: 2em;
            @include font-size(16px);
        }
        .resume__signature {margin-bottom: 0;}
    }

/* 
   is-selected
   ========================================================================== */

    // .resume__titre--is-selected {}

/* 
   is-postdate
   ========================================================================== */

    // plutôt is-indispo qui pourra etre utilisé ailleurs ?
    

/* 
   .postdate-info-overlay
   ========================================================================== */

    .postdate-info-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 0.5em;
        text-align: center;
        font-family: $mono-font;
        @include font-size(10px);
        color: #999;
        background: #fff;
        border: 1px dotted #fff;
        border-radius: 2px;
		transition: background 0.3s ease,color 0.3s ease;
        .resume-article--court & {
            bottom: -1.5em;
            left: auto;
        }
        .resume:hover & {
            background-color: #b22222;
            color: #fff;
        }
    }


/*  .resume-video
    ========================================================================== */
.resume-video {
  background-color: $couleur-site;
  text-align: center;
}
.resume-video--is-active {
   opacity: 0.5;
}
.resume-video--small {
   @include media-query(palm) {
      min-height: 180px;
   }
   .hN {
      @include font-size(14px,$line-height: false);
      line-height: 1;
      color: #000;
      @include media-query(lap-and-up) {
         // border-top: 1px solid rgba(255,255,255,0.5);
         padding: 0.5em;
         margin-bottom: 0.5em;
         @include font-size(16px,$line-height: false);
         line-height: 1.2;
      }
   }
  .resume__body p {
    @include font-size(12px,$line-height:false);
    line-height: 1.2;
    margin-bottom: 0;
  }
}

/*  resume-semainier
    ========================================================================== */
    .resume-semainier {
        @include media-query(lap-and-up) {
            header {
                border-top: 1px solid #000;
                padding-top: 1.5em;
            }
        }
        .resume__titre {
            @include font-size(24px,$line-height: false);
            margin-bottom: .5em;
        }
        .resume__titre--jour {
            @include font-size(18px);
            a {
                color: $couleur-gris-moyen;
            }
        }
        .resume__soustitre {
            @include font-size(20px,$line-height:false);
        }
    }
        .resume-semainier__img {
            margin-bottom: 2em;
            a {
                border: none;
            }
        }
        .resume-semainier__body {
            .timeline__item--pair & .resume__titre--jour {
                margin-right: 20%;
            }
            .timeline__item--impair & .resume__titre--jour {
                margin-left: 20%;
            }
        }


		.resume {
		    // margin-bottom: 3.5em;
		    line-height: 1.125; // 16px
		    @include media-query(palm) {
		        // border-bottom: 1px dotted #ddd;
		        // margin-bottom: 2em;
		    }
		}
		.resume__titre {
		    // @include font-size(18px,$line-height:false);
		    // line-height: 1.1;
		    // font-weight: 600;
		    // &:first-letter {
		        // text-transform: uppercase;
		    // }
		}
		.resume__desc {
		    @include font-size(15px,$line-height:false);
		    line-height: 1.313;
		    time {
		        float: left;
		        margin-right: .5em;
		        color: $gray;
		    }
		    @media only screen and (min-width: 960px) {padding-right: $base-spacing-unit*2;}
		}

		/* category */
		.resume__category {
		    @extend .intertitre-section--first;
		    margin-left: 0;
		    margin-bottom: $base-spacing-unit/2;
		    border-bottom-color: #000;
		    font-style: italic;
		    @include font-size(16px);
		    color: #000;
		}

		/* body et cartouche */
		.resume__body-x {
		    @include media-query(lap-and-up) {
		        position: absolute;
		        z-index: 10;
		        left: 0;
		        bottom: $base-spacing-unit/2;
		        width: 100%;
		    }
		    @include media-query(palm) {
		        background-color: $site-color;
		    }
		}
		    .resume__cartouche {
		        // background-color: rgba($site-color,0.9);
		        background-color: rgba(255,255,255,0.75);
		        color: #000;
		        padding: $base-spacing-unit/2 $base-spacing-unit/2 $base-spacing-unit/4;
		        .resume__titre {
		            margin-bottom: .15em;
		        }
		        .resume-article__soustitre {
		            @include font-size(15px,$line-height:false);
		            color: lighten($site-color,15%);
		        }
		    }
		    .resume__cartouche--paysage {
		        @include media-query(lap-and-up) {
		            width: 60%;
		        }
		    }

		/* figure */
		.resume__figure {
		    margin-bottom: 0;
		    @include media-query(palm) {
		        margin-bottom: 1em;
		    }
		    figcaption {
		        margin-top: .5em;
		    }
		}
		.resume__figcaption {
		    .numero-titre {
		        @include font-size(18px,$line-height:false);
		        line-height: 1;
		    }
		    .numero-soustitre {
		        display: inline;
		        font-size: 100%;
		    }
		}
		// .resume__figure--portrait {}


		/*==========  .resume-rubrique  ==========*/


		.resume-rubrique__titre {
		    .toc__item & {
		        // @include font-size(40px,$line-height:false);
		        // line-height: 0.9;
		        // font-weight: 600;
		        // color: $soft-black;
		    }
		    .index-feature & {
		        @include font-size(18px);
		        margin-bottom: 0;
		    }
		    .index-issues & {
		        @include font-size(16px);
		        margin-bottom: 0;
		    }
		}
		// .resume-rubrique__desc {}

		/*==========  .resume-article  ==========*/
		// .resume-article {}
		// .resume-article__titre {}
		.resume-article__soustitre {
		    margin: .5em 0;
		    @include font-size(15px,$line-height:false);
		    color: $gray;
		}
		// .resume-article__desc {}

		/*==========  resume-article--list  ==========*/
		.resume-article--list {
		    margin-bottom: 2em;
		    &:after {
		        content: '— ❡ —';
		        display: block;
		        text-align: center;
		        color: $gray-light;
		    }
		    .resume-article__titre {
		        @include font-size(18px);
		    }
		}

		/*==========  resume-numero  ==========*/
		.resume-numero {
		  position: relative;
		}
		.resume-numero__titre {
		    line-height: 1.1;
		}
		// SUPPRIMER
		// .resume-numero__titre--m {
		//     @include font-size(18px,$line-height:false);
		//     .resume-numero__soustitre {display: inline; font-size: 100%;}
		// }
		// .resume-numero__titre--s {
		//     @include font-size(16px,$line-height:false);
		// }

		/* variante : resume-numero--logoTitre (résumé numéro avec logo et titre uniquement) */
		.resume-numero--logoTitre {
		    text-align: center;
		    .resume__figure {
		        margin-bottom: .5em;
		    }
		    .resume-numero__titre {
		        @include font-size(16px,$line-height:false);
		    }
		}
		/* variante : resume-numero--titreSeul (résumé numéro avec titre uniquement) */
		.resume-numero--titreSeul {
		    display: inline-block;
		    border-bottom: 1px solid #ccc;
		    padding-bottom: .5em;
		    @include media-query(palm) {
		        margin-bottom: 2em;
		    }
		    .resume-numero__titre {
		        margin-bottom: 0;
		        @include font-size(15px,$line-height:false);
		    }
		    .resume-numero__soustitre {display: inline; font-size: 100%;}
		}


		/*==========  resume-numero--list  ==========*/
		.resume-numero--list {
		    .resume-numero__titre {
		        @include font-size(18px,$line-height:false);
		    }
		    .resume-numero__soustitre {
		        line-height: 1.5;
		    }
		}

		/*==========  resume-auteur--list  ==========*/
		.resume-auteur--list {
		    .resume-auteur__nom {
		        border-bottom: 1px solid #000;
		        line-height: 1.2;
		        color: #000;
		    }
		}

		/*==========  resume-mot  ==========*/
		// .resume-mot__titre {}

		/*==========  resumés variantes : stack / text / logo / hero / nested  ==========*/

		/* resume--stack */
		.resume--stack {
		    a {
		        font-weight: normal;
		    }
		    position: relative;
		    @include media-query(palm) {
		        border: 0;
				margin-bottom: $base-spacing-unit;
		        .resume__figure {
		            margin-bottom: 0;
		        }
		    }
		    @include media-query(desk) {
		        margin-bottom: 0;
		    }
		    .resume__category {
		        border-bottom-color: #fff;
		        color: #fff;
		    }
		}
		.resume__titre--stack {
		    min-height: initial;
		    margin-bottom: .15em;
		}
		.resume__desc--stack {
		    margin-bottom: 0;
		}

		/* resume--text */
		// .resume--text {}
		.resume__titre--text {
		    // min-height: 3em;
		    color: #000;
		    @include font-size(16px,$line-height:false);
		    .section--features & {
		        @include font-size(22px);
		    }
		    @include media-query(palm) {
		        min-height: initial;
		    }
		}
		.resume__desc--text {
		    .section--features & {
		        padding-right: 0;
		    }
		}

		/* resume--logo */
		// .resume--logo {}
		.resume__titre--logo {
		    color: #000;
		    @include font-size(16px,$line-height:false);
		}

		/* resume--hero */
		.resume--hero {
		    margin-bottom: 6em;
		    @include media-query(palm) {
		        border-bottom: none;
		        margin-bottom: 2em;
		    }
		}
		.resume__titre--hero {
		    margin-bottom: 1em;
		    color: #000;
		    @include font-size(28px);
		    .soustitre {
		        @include font-size(16px,$line-height:false);
		        margin: 0;
		    }
		}
		.resume__desc--hero {
		    @include font-size(20px);
		    color: #777;
		}

		/* resume--nested */
		.resume--nested {
		    margin-bottom: 0;
		    .resume__titre--text {
		        @include font-size(18px);
		    }
		}
