/* ==========================================================================
   .site-logo
   ========================================================================== */
.site-logo-container {
    .page-head & {
        text-align: center;
        @include media-query(lap-and-up) {text-align:right;}
    }
    .page-foot & {
        margin: 1em 0 2.5em;
    }
}

.site-logo {
    font-family: $Helvetica-font;
	font-weight: bold !important;
    color: $color-black;
    text-transform: uppercase;
    white-space: nowrap;

	&,
	&:hover {border:none;}
    // taille du logo
    .page-head & {
        @include font-size(68px);
        @include media-query(desk) {
            @include font-size(100px,$line-height:false);
            line-height:0;
        }
    }
    .page-foot & {
		display: block;
		width: 234px;
        // @include font-size(60px,$line-height:false);
        // line-height: 1;
    }
}

.baseline {
    font-style: italic;
    .page-foot & {
        margin-top: .5em;
        @include font-size(20px,$line-height:false);
        line-height: 1;
    }
}
