// =====================================
// spip-admin
// =====================================

.spip-admin-float {
	right: 0 !important;
	top: auto !important;
	bottom: 0;
	z-index: $zindex-spip-admin-float !important;
	
	.spip-admin-boutons {
		border-radius: 5px 5px 0 0;
		font-family: $font-mono;
		@include inuit-font-size(10px, 1);
		font-weight: normal;
		text-align: left;
	}
}
