/*  ==========================================================================
    .tri
    ========================================================================== */

    .tri {
        @include media-query(lap-and-up) {
            text-align: center;
        }
    }
        .critere-tri {
            a,strong {
                padding: 0 0.35em;
                margin: 0 0.35em;
                display: block;
                font-weight: normal;
            }
        }

/*  modificateurs
    ========================================================================== */   
    .tri--categories {
        text-align: left;
        @include font-size(16px);
    }