/*=================================
=            page-head            =
=================================*/

.page-head {
    position: relative;
    z-index: 100;
    padding: 2em 0 3em;
    text-align: center;
    @include media-query(portable){
        padding-bottom: 3em;
    }
    @include media-query(desk){
        padding-bottom: 1em;
    }
}

/*-----  End of page-head  ------*/
