/*=================================
=            page-head            =
=================================*/

.page-head {
    // z-index: 100;
    border-bottom: 1px solid #000;
    padding-top: 2em;
    @include media-query(desk){
        margin-top: 1em;
        padding-bottom: 1em;
        padding-top: 4em;
        position: relative;
    }
    a {font-weight: normal;}
}

/*-----  End of page-head  ------*/
