/* ==========================================================================
   .page
   ========================================================================== */

html {
    color: $text-color; //#252525;
}

    .wrap-out {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

        .wrap-in {
            position: relative;
            width: 100%;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }

.page-block {
    margin: 0 auto;
    max-width: 68.750em;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;
}