// =====================================
// V85 : thème pour Vacarme 85
// =====================================


.t-v85-texte__code {
	margin-bottom: $spacing-unit-large;
	padding: $spacing-unit $spacing-unit 1px;
	background-color: $color-black;
	color: $color-white;
	font-family: $font-mono;
	font-size: 1em;
}
