// =====================================
// GLOBALS
// =====================================

//
// INUITCSS V5 GLOBALS *** OBSOLÈTE ***
// -------------------------------------

// ----- variables par defaut ----- //
@import "inuit.css/defaults";
$use-grids: true;
$use-media: true;
$use-island: true;
$use-sprite: true;

// les breakpoints utilisés dans cette version :
// $lap:         481px
// $desk:        1024px;

$base-font-family: "Plantin", "Palatino", serif;

//
// INUITCSS V6 GLOBALS
// -------------------------------------

// ----- Grille ----- //
$inuit-wrapper-width: 1100px;
// $inuit-fractions: 12;
$inuit-use-markup-fix: true;


// ----- Mediaqueries INUITCSS ----- //
$mq-breakpoints: (
	tablet: 640px,
	desktop: 1024px
);


//
// VACARME
// -------------------------------------

// ----- Fonts ----- //
$font-base: Helvetica, Arial, sans-serif;

$font-mono: "Menlo", monospace;
$font-helvetica: "HelveticaNeueCd", "Helvetica Neue", $font-base;

// V5 
// TODO: obsolète
$mono-font: $font-mono;
$Helvetica-font: $font-helvetica;

// ----- Couleurs ----- //

// TODO: Obsolète
// V5
$link-color: #e88e0e;
$site-color: #7c88d3;
$couleur-site: $site-color;
$soft-black: #555;
$text-color: #393939;
$nav-bg: #282831;
$gray-light: #ccccda;
$gray-white: #eee;
$gray-blue: #8888a7;
$warm-gray: #aba49e;
$gray: #777;
$orange: #b94912;
$gris-soustitre: #7b6d88;
$soft: #999;
$ok: #c1e732;
$erreur: #e75d32;
$couleur-un: #7c88d3;
$couleur-un-sombre: #313653;
$couleur-lien: #e88e0e;
$couleur-gris-sombre: #555;
$couleur-gris: #777;
$couleur-gris-2: #7b6d88;
$couleur-gris-bleu: #8888a7;
$couleur-gris-moyen: #999;
$couleur-gris-blanc: #eee;
$couleur-gris-clair: #ccccda;
$couleur-erreur: #e75d32;
$couleur-warning: #fa0;
$couleur-print: #000;

// V6

	// ----- couleurs ----- //

	$color-black: #000;
	$color-white: #fff;
	$color-orange: #e88e0e;
	
	// ----- site-nav ----- //
	$zindex-site-nav__menu: 100;
	
	// ----- btn--burger ----- //
	$btn-burger-height: $inuit-global-spacing-unit + $inuit-global-spacing-unit-tiny;
	$btn-burger-width: $btn-burger-height;
