// =====================================
// GLOBALS
// =====================================

//
// INUITCSS V5 GLOBALS *** OBSOLÈTE ***
// -------------------------------------

// ----- variables par defaut ----- //
@import "inuit.css/defaults";
$use-grids: true;
$use-media: true;
$use-island: true;
$use-sprite: true;

// les breakpoints utilisés dans cette version :
// $lap:         481px
// $desk:        1024px;

$base-font-family: "Plantin", "Palatino", serif;

//
// INUITCSS V6 GLOBALS
// -------------------------------------

// ----- Grille ----- //
$inuit-wrapper-width: 1100px;
// $inuit-fractions: 12;
$inuit-use-markup-fix: true;


// ----- Mediaqueries INUITCSS ----- //
$mq-breakpoints: (
	mobile:     320px, // 20em
	mobilePlus: 439px, // 27.43em
	tablet:     640px, // 40em
	tabletPlus: 768px, // 48em
	desktop:    1024px
);


//
// VACARME
// -------------------------------------

// ----- Fonts ----- //
$font-base: Helvetica, Arial, sans-serif;

$font-mono: "Menlo", monospace;
$font-helvetica: "HelveticaNeueCd", "Helvetica Neue", $font-base;

// V5 
// TODO: obsolète
$mono-font: $font-mono;
$Helvetica-font: $font-helvetica;

// ----- Couleurs ----- //

// TODO: Obsolète
// V5
$link-color: #e88e0e;
$site-color: #7c88d3;
$couleur-site: $site-color;
$soft-black: #555;
$text-color: #393939;
$nav-bg: #282831;
$gray-light: #ccccda;
$gray-white: #eee;
$gray-blue: #8888a7;
$warm-gray: #aba49e;
$gray: #777;
$orange: #b94912;
$gris-soustitre: #7b6d88;
$soft: #999;
$ok: #c1e732;
$erreur: #e75d32;
$couleur-un: #7c88d3;
$couleur-un-sombre: #313653;
$couleur-lien: #e88e0e;
$couleur-gris-sombre: #555;
$couleur-gris: #777;
$couleur-gris-2: #7b6d88;
$couleur-gris-bleu: #8888a7;
$couleur-gris-moyen: #999;
$couleur-gris-blanc: #eee;
$couleur-gris-clair: #ccccda;
$couleur-erreur: #e75d32;
$couleur-warning: #fa0;
$couleur-print: #000;

// V6

	// ----- couleurs ----- //

	$color-black: #000;
	$color-white: #fff;
	
	// color-gray
	$color-gray: #ccc;
	$color-gray-light: #ddd;
	$color-gray-500: #9e9e9e;
	$color-gray-400: #bdbdbd;
	$color-gray-300: #e0e0e0;
	$color-gray-200: #eeeeee;
	$color-gray-100: #f5f5f5;
	
	// color-orange
	$color-orange: #e88e0e;
	$color-orange-dark: #e65100;
	$color-orange-900: #e65100;
	$color-orange-500: #ff9800;
	$color-orange-400: #ffa726;
	$color-orange-300: #ffb74d;
	$color-orange-200: #ffcc80;
	$color-orange-100: #ffe0b2;
	
	// color-deep-orange
	$color-deep-orange-500: #ff8022; // #ff5722;
	$color-deep-orange-400: #ff9245; //#ff7043;
	$color-deep-orange-300: #ffa769; //#ff8a65;
	$color-deep-orange-200: #ffbc8c; //#ffab91;
	$color-deep-orange-100: #ffd1b0; //#ffccbc;
	
	// color-amber
	$color-amber-500: #ffc107;
	$color-amber-400: #ffca28;
	$color-amber-300: #ffd54f;
	$color-amber-200: #ffe082;
	$color-amber-100: #ffecb3;
	
	// color-yellow
	$color-yellow-900: #f57f17;
	$color-yellow-800: #f9a825;
	$color-yellow-700: #fbc02d;
	$color-yellow-600: #fdd835;
	$color-yellow-500: #ffeb3b;
	$color-yellow-400: #ffee58;
	$color-yellow-300: #fff176;
	$color-yellow-200: #fff59d;
	$color-yellow-100: #fff9c4;
	
	// color-blue-grey
	// $color-blue-grey-400: #6767c2;
	// $color-blue-grey-300: #8282c2;
	// $color-blue-grey-200: #9d9dc2;
	$color-blue-grey-100: hsl(240, 25%, 90%);
	$color-blue-grey-200: hsl(240, 25%, 80%);
	$color-blue-grey-300: hsl(240, 25%, 75%);
	$color-blue-grey-400: hsl(240, 25%, 63%);
	$color-blue-grey-500: hsl(240, 25%, 50%);
	$color-blue-grey-600: hsl(240, 25%, 38%);
	$color-blue-grey-700: hsl(240, 25%, 25%);
	$color-blue-grey-800: hsl(240, 25%, 13%);
	$color-blue-grey-900: hsl(240, 25%, 0%);
	
	// color-blue
	$color-blue-500: hsl(240, 50%, 50%);
	$color-blue-600: hsl(240, 50%, 38%);
	
	// color-light-blue-500
	$color-light-blue-500: hsl(199, 98%, 48%);
	
	
	// color-cyan
	$color-cyan-500: hsl(187,100%,42%);
	$color-cyan-600: hsl(187,100%,38%);
	$color-cyan-700: hsl(187,100%,33%);
	$color-cyan-800: hsl(187,100%,30%);
	$color-cyan-900: hsl(182,100%,20%);
	
	
	// color-lime
	$color-lime-500: #c1e732;
	
	// color-red: 
	$color-red: #e75d32;
	
	// alias
	$color-error: $color-red;
	
	
	// ----- color-lien ----- //
	$color-lien: $color-cyan-500;
	
	
	// ----- site-nav ----- //
	$zindex-site-nav__menu: 100;
	
	// ----- btn--burger ----- //
	$btn-burger-height: $inuit-global-spacing-unit + $inuit-global-spacing-unit-tiny;
	$btn-burger-width: $btn-burger-height;
	
	// ----- transitions ----- //
	$transform-transition: transform 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	$lien-transition: 0.35s ease-out;
	
	// ----- message et reponse_formulaire ----- //
	$message-padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny / 2;
	$message-border-erreur: 3px solid $color-red;
	$message-border-ok: 3px solid $color-lime-500;
	$message-border-attention: 2px solid $color-lime-500;
	$message-border-lien: 1px dotted $link-color;
