/* ==========================================================================
   form
   ========================================================================== */
$color-text-input: #ccc;

input[type="search"] {
    -webkit-appearance: none;
    outline: none;
}
/* placeholder */
//input[type="search"]::-webkit-input-placeholder {color: $color-text-input;}
//input[type="search"]:-moz-placeholder {color: $color-text-input;/* Firefox 18- */}
//input[type="search"]::-moz-placeholder {color: $color-text-input;/* Firefox 19+ */}
//input[type="search"]:-ms-input-placeholder {color: $color-text-input;}

/* 
   formulaire_recherche #search
   ========================================================================== */

// masquer le formulaire si js est disponible.
#search-container {
    padding: 1em 0 0;
    .js & {
        padding: 0;
        @include accessibility;
    }
    
}

.formulaire_recherche {
    .js & {
        margin: 2em 0 0;
    }
}
    .search__form {text-align:center;}
    .search__label {
        @include accessibility;
    }
    .search__field {
        padding-left: 0.2em;
        width: 15em;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 0.3em;
        background: #fff;
        font-family: $font-HC;
        line-height: 1.5;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.09);
        .js & {
            width: 70%;
            background: #fff;
            @include font-size(36px,$line-height:false);
        }
    }
    .search__submit {
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fefefe;
        color:$color-text-input;
        font-family: $font-HC;
        line-height: 1.4;
        @include transition (all 0.3s ease-in-out);
        .js & {
            width: 15%;
            @include font-size(36px,$line-height:false);
        }
        &:hover {
            color: #000;
            background: $color-text-input;
        }
    }
