/*  ==========================================================================
    sep
    ========================================================================== */

    .sep--pipe {
        position: relative;
        margin-right: 0.5em;
        padding-right: 0.5em;
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            border-right: 1px solid $couleur-gris-clair;
            content: '';
        }
    }