/* -------------
=Typographie
--------------- */
a.plus, #Navigation, #PiedDePage, #FilAriane, #BIndexCategories, #BIndexResultats {
  font:1em "Lucida Grande", Verdana, sans-serif;
  letter-spacing:-0.09em;
}

/* -------------
=Liens
--------------- */
a {
  text-decoration:none;
  color:#900;
}
#Navigation a, #PiedDePage a {
  color:#444;
}
a.plus, h2 a {
  color:#90c;
}
a.plus {
  color: #900;
}
dt a.INauteurs {
  color:#777;
/*  font-size:1.1em;*/
}
a:visited {
  xcolor:#300;
  border-bottom:1px dotted #c00;
}
#BIndexCategories a:visited, #BIndexResultats a:visited {
  border:none;
}
#Navigation a:visited, #PiedDePage a {
  color:#444;
  border:none;
}
#FilAriane a:visited, #Portfolio #FA a:visited {
  color:#900;
}
a.noborder:visited, a:visited img {
  border:none;
}
.alerte a:visited {
  border:none;
  color:#9cc725;
}
a.select, #FilAriane a.select:visited, #Portfolio #FA a.select:visited {
  color:#9cc725;
  font-weight:bold;
}
a:hover, #FilAriane a:hover, #Portfolio #FA a:hover, dt a.INauteurs:hover {
  color:#9cc725;
  border-bottom:none;
}

/* -------------
=Entete
--------------- */
#Logo {
  margin:0;
  float:left;
  display:block;
}

/* -------------
=Navigation & =Pied de page
--------------- */
#Navigation, #PiedDePage {
  word-spacing:0.2em;
  float:left;
  line-height:0.9em;
  font-size:1em;
}
#Navigation {
  margin-left:230px;
  padding-top:42px;
  float:none;
}

#Navigation ul, #PiedDePage ul {
  margin:0;
  padding:0;
  list-style:none;
}
#Navigation li, #PiedDePage li {
  float:left;
  margin:0;
  padding:0;

}
#Navigation a, #PiedDePage a {
  display:block;
  padding:1px 7px 1px 15px;
  float:left;
  background:url(../images/commun/NavigationPuce.png) no-repeat 0% -8px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#Navigation a, #PiedDePage a {float:none;}
/* End IE5-Mac hack */
#Navigation a:hover, #PiedDePage a:hover, #Navigation a.select {
  background-position:0% -38px;
  color:#000;
}

/* -------------
=Images
--------------- */
img {
  border:none;
  margin:0; padding:0;
}

/* -------------
=Fil d'Ariane
--------------- */
#FilAriane {
  letter-spacing:0;
  margin:0 0 0 60px;
}
#Conteneur > #FilAriane {
  margin:0.8em 0 0 60px;
}
#FilAriane img {display:none;}
#FilAriane a#VEI {
  width:11px; height:11px;
  background: url(../images/commun/VousEtesIci.png) no-repeat 0 0;
  display:block;
  border:none;
}
#FilAriane a#VEI:hover {
  background-position: 0 100%;
}
#FA p {
  margin:0 0 0 11px;
  overflow:hidden;
}

/* -------------
=Titres (règles communes)
--------------- */
h1, h2, h3, h4, h5, h6, #IA dt, .CAccueil dt, .CommandeItem p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  font-weight:normal;
  letter-spacing:-1px;
  text-align:left;
  line-height:1.1em;
  margin:0;
}
h1 {font-size:2em;}
h2 {font-size:1.8em}
h3 {font-size:1.6em;}
h3.recherche {
  font-size:1.9em;
  color:#000;
  margin-left:5px;
}
h1.Titre {
  font-size:2em;
}
#ColTitre h1.Titre {
  font-size:2.8em;
  color:#90c;
}
h1.Abecedaire {
  font-size:4em;
  margin:0;
}
#texte h2.spip {
  font-size:1.9em;
  color:#606;
  margin:0.5em 0 0.1em;
}
#texte h3.spip {
  font-size:1.7em;
  margin:0.5em 0 0;
  color:#606;
}
#texte h4.spip {
  font-size:1.5em;
  margin:0.5em 0 0;
  color:#606;
}
#texte h5.spip {
  font-size:1.4em;
  margin:0.5em 0 0;
  color:#606;
}
#ColSecondaire.Librairies h2 {
  letter-spacing:normal;
}
#ColSecondaire h2 {
  color: #777;
}
.CRubrique h1 {
  color:#90c;
  font-size:2.2em;
}
h1.TitreRubrique {
  margin-bottom:0.8em;
}
.zoneAbonnes #ColPrincipale h1.titreRubrique, .CAccueil h2, .CRubrique h2 {
  font-size:2em;
  color:#90c;
  margin-bottom:0.5em;
}

/* -------------
=listes (règles communes)
--------------- */
ul {
  margin:0; padding:0;
  list-style-type:none;
}
ul li, ol li {
  margin:0; padding:0;
}
ol {
  margin-left:10px; padding-left:5px;
}
#texte li { margin-top: .5em; margin-bottom: 1.3em;}
#texte li li { margin: 0 0 0 15px;}

/* -------------
=Page Accueil
--------------- */
.CAccueil #ColPrincipale h3 {
  font-size:2em;
  line-height:1em;
  color:#90c;
}
.CAccueil h3 {
  font-size:1.5em;
}
#Contenu2 h3 {
  color:#90c;
}
div.Actu h3 {
  margin:0.7em 0 0;
}
.CAccueil h4 {
  font-size:1.8em;
  color:#90c;
}
h4#ArtEnligne {
  margin-top:4em;
}
div.ActuellementSommaire {
  margin-left:245px;
}
.ActuellementCouv {
  float:left;
  border:none;
}
#Contenu2 dl {
  font-size:1em;
}
dl.SommaireCourt {
  margin-bottom:1em;
}
.CAccueil dt {
  color:#000;
  font-size:1.3em;
  margin:0.2em 0 0.2em;
}
.CAccueil dd {
  margin:0;
  font-size:1.1em;
  line-height:1.2em;
  color:#666;
  font-style: italic;
}
.CAccueil dd+dt, .CAccueil dt+dt {
  margin-top:0.5em;
}
div.NumeroApercu {
  margin-bottom:1.5em;
  padding-top:70px;
  position:relative;
  height:auto;
}
div.NumeroApercu dd {
}
div.NumeroApercu + div.NumeroApercu {
  border-top:1px dotted #806f6d;
}
div.NumeroApercu a.imgCouv {
  margin-top:1.5em;
  position:absolute;
  top:0; left:0;
  display:block;
  text-align:right;
  width:225px; height:170px;
  z-index:1;
}
div.NumeroApercu a.imgCouv:hover {z-index:3;}

div.NA {
  background:url(../images/commun/calque.png) repeat 0 0;
  position:relative;
  top:0;
  left:0;
  border:1px solid #ccc;
  width:70%;
  padding:2% 4% 4%;
  z-index:2;
}
p.Descriptif {
  font-size:1.3em;
  line-height:1.2em;
  margin:0.3em 0 1em;
}

.zoneAbonnes p.descriptifRubrique {
	font-size: 1.3em;
	margin: 0 0 1.5em;
}
div.NumeroApercuLien {
  margin-bottom:1.5em;
  border-top:1px dotted #806f6d;
}
p.Lien {
  margin: 1.5em 0;
}

/* -------------
=Pages Index
--------------- */
#Contenu.Textes {
  background:url(../images/commun/FiletTopArticle.png) no-repeat 0 0;
}

#Contenu.Index h1 {
  color:#90c;
}
h2.Auteur {
  color:#777;
  font-size:1.5em;
  text-align:right;
}
#IN h2, #IA dt {
  font-size:1.8em;
  color:#000;
  margin:.5em 0 .2em;
}
#IN dl {
  margin:.3em 0 1em 16px;
}
#IN dt {
  font-size:1.3em;
  margin-bottom:.2em;
  margin-top: .5em;
}
#IN dd {
  margin:0 0 .5em 0;
  margin: 0;
  font-size:1.2em;
  color:#777;
  font-style: italic;
}
#IN dd.lienTraduction {
  font-style: normal;
}
#IA dd {
  font-size:1.2em;
  line-height:1.4em;
  margin:0 0 .5em 16px; padding-left:10px;
  background:url(../images/commun/PuceContexte.png) no-repeat 0 2px;
}
#IndexNumAut dd + dt {
  margin-top:.7em;
}
img.articleIntegral {
  margin: 0 3px;
  vertical-align: baseline;
}
p.nb {
  margin: 3em 0;
  font-size: 1.1em;
  line-height: 1.3em;
}
p.documenta {
  border: 1px solid #ddd;
  padding: 2px;
}
p.logoDocumenta {
  color: #666;
}
#IA dt.nb, #IA dd.nb {
  font-family: Georgia,Times,"Times New Roman",sans-serif;
  background: none;
  font-size: 1.1em;
  line-height: 1.3em;
  color: #333;
  letter-spacing:0;
  margin: .5em 0 1.5em;
}
/* -------------
=Pages Index : agrandissement de l'image de la couverture
--------------- */
#CouvVacarme{
position: relative;
z-index: 0;
}

#CouvVacarme:hover{
background-color: transparent;
z-index: 50;
}

#CouvVacarme span{ /*CSS for enlarged image*/
position: absolute;
background-color:#fff;
padding: 5px;
left: -1000px;
border: 1px solid #777;
visibility: hidden;
}

#CouvVacarme span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

#CouvVacarme:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
left: 100px; /*position where enlarged image should offset horizontally */
}

/* -------------
=Pages Index : =Articles, =Breves
--------------- */

p.surtitre, p.soustitre, p.tetiere {
  font:1.5em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
  color:#666;
}
p.tetiere {
  text-align:right;
  font-size:1.2em;
  margin-top:0;
}
p.tetiere strong {
  font-weight: normal;
  color: #000;
}
p.surtitre {
  margin-bottom:0.4em;
}
p.soustitre {
  margin-top:0.4em
}
p.lienTraduction {
  text-align: right;
  margin: 0.5em 0 0;
  font-size: 1.1em;
}
#chapo, #texte, .texte {
  font-size:1.2em;
  line-height:1.4em;
  margin-bottom:1.8em;
}
#chapo {
  font-size:1.2em;
  line-height:1.4em;
  margin:3em 0;
  text-align:justify;
  font-weight:bold;
  font-family: Helvetica,Arial,sans-serif;
}
#texte {
  margin-top:2em;
}
#texte.ArticleIncomplet p, #texte.ArticleIncomplet ul {
  font-size:1em;
  margin:0.3em 0;
}
#texte.ArticleIncomplet li {
  padding-left:10px;
  background:url(../images/commun/Puce.png) no-repeat 0 -2px;
}
#ps, #notes {
  font-size:1em;
  line-height:1.2em;
  margin-bottom:1.5em;
}
#ps {
  background-color:#eee;
  padding:3px 7px;
}
#notes {
  text-align:left;
  border-top:1px dotted #ccc;
}
p.spip, #texte p {
  text-align:justify;
  margin:0.5em 0 1.3em;
}
blockquote.spip {
  margin:0.5em 0 0.5em 30px;
  border-left:2px solid #ccc;
  padding-left:5px;
}
#texte hr.spip {
  text-align:center;
  background: #fff url(../images/commun/image-hr.png) no-repeat center top;
  margin: 1.5em auto;
  height: 5px;
  border: 0 none;
}
.spip_doc_titre, .spip_doc_descriptif {
   font: 0.9em/1.2em Helvetica,Arial,sans-serif;
   color:#666;
   text-align:center;
}
.spip_documents {
  margin:O;
  padding-bottom:1em;
}
.spip_documents_left{
  margin-right:10px;
}
.spip_documents_right {
  margin-left:10px;
}
.spip_documents_center {
  text-align:center;
}
.spip_documents_center .spip_doc_titre,
.spip_documents_center .spip_doc_descriptif {
   margin: 0 auto;
}
.ombre {
  float: left;
  background: url(../images/commun/shadow1.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}
.ombre div.ombreInterieur {
  background:url(../images/commun/shadow2.png) no-repeat left top !important;
  background:url(../images/commun/shadow2.gif) no-repeat left top;
  padding:0 !important;
  padding: 0 5px 5px 0;
}

.ombre div#texte {
  font-family: Helvetica,Arial,sans-serif;
  background-color: #fff;
  border: 1px solid #900;
  padding: 6px;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
}
.infos {
  padding:0.5em;
  border:1px solid #900;
}
.VignettePortfolioArticle {
  float: left;
  text-align: center;
  border: 1px solid #eee;
  margin: 5px 5px 0 0;
  padding: 5px;
}

/* -------------
=Recherche
--------------- */
div.encadrement {
    margin: 2.5em 0;
}

p.RechercheNbre {
  font:1.6em Helvetica,Arial,sans-serif;
  color:#90c;
}
p.RechercheDescriptif {
  margin:0 0 0 5px;
  font-size:1.2em;
  line-height:1.4em;
}
p.RechercheUrl {
  margin:0.3em 0 1.3em 5px;
  font-size:1.2em;
}

/* -------------
=Colonne Secondaire : informations contextuelles
--------------- */
#ColSecondaire h2 {
  font-size:1.9em;
}
.CAccueil dl span, #IN h2 span {
  color:#777;
}
#ColSecondaire h2 span {
  color: #000;
}
h2.TitreFilet, #ColSecondaire h2.TitreFilet {
  color:#90c;
  background:url(../images/commun/Filet.png) no-repeat 100% 0;
  margin-top:1em;
  padding-top:0.5em;
}
h2.DateSeule {
  margin-bottom:1.5em;
}
dl.NumeroContexte {
  margin-bottom:2em;
  line-height:1.2em;
}
dl.NumeroContexte dt {
  margin:0 0 0 16px;
}
dl.NumeroContexte dd {
  margin:0 0 0 16px; padding-bottom:0.2em;
  clear:left;
}
#Couverture dl.NumeroContexte {
  margin:0;
}
#Couverture dl.NumeroContexte dt, #Couverture dl.NumeroContexte dd {
  margin:0;
}
ul.ContexteListes {
  font-size:1.1em;
  margin:0.5em 0 2em; padding:0;
}
ul.ContexteListes li {
  margin:0 0 0 16px; padding:0 0 0.5em 10px;
  line-height:1.2em;
}
ul.ContexteListes li {
  background:url(../images/commun/PuceContexte.png) no-repeat 0 -1px;
}
ul.ContexteListes li.select {
  background-image:url(../images/commun/PuceContexteSelect.png)
}

/* -------------
=Rubriques A propos et Librairies
--------------- */
.CRubrique #ColSecondaire .CS {
  margin-top:3em;
}
.CRubrique h2 {
  margin:0;
}
.CRubrique .CS p.Descriptif + h2 {
  margin-top:0.5em; padding-top:0.7em;
  border-top:1px dotted #806f6d;
}
#ColSecondaire .CScol1 h2, #ColSecondaire .CScol2 h2 {
  font-size:1.2em;
  color:#fff;
  background-color:#72804D;
  margin:1em 0 0; padding:7px 5px;
}
#ColPrincipale.CRTypeB p.Descriptif {
  margin-bottom:.5em;
}
#ColPrincipale.Apropos p.Descriptif {
  margin-top:1em;
}
#ColPrincipale.CRTypeB #notes {
  font-size:1.1em; line-height:1.4em;
  padding:5px;
  margin-bottom:0;
  margin-top:.5em;
  background-color:#eee;
  border:none;
}
#ColPrincipale.CRTypeB h3 {
  font-size:1.2em;
  font-weight:bold;
}
dl.Librairies {
  font-size:1.1em;
}
.CRubrique #ColSecondaire .CS dl {
  margin:0;
}
.CRubrique #ColSecondaire .CS dt {
  font-weight:bold;
  padding:5px 5px 0; margin:0;
}
.CRubrique #ColSecondaire .CS dd {
  padding:0 5px 0.5em 10px; margin:0;
}
.pair {
  background-color:#9cc725;
}
.impair {
  border:1px solid #9cc725;
}
dt.impair {
  border-bottom:none;
}
dd.impair {
  border-top:none;
}

/* -------------
=Actualités
--------------- */
div.Actu, div.ActuArchives {
  margin:0 0 1.5em; padding-bottom:1em;
  border-bottom:1px dotted #806f6d;
}
.Actu span.Date {
  font-family:"Helvetica", Arial, sans-serif;
  color: #666;
}
p.ActuSuite {
/*  font:1.3em "Lucida Grande", Verdana, sans-serif;*/
  font-size: 1.2em;
}
h2.ActuAutres {
  background:url(../images/commun/Filet.png) no-repeat 50% 0;
  padding-top:.8em;
}

/* -------------
=Rubrique S'abonner
--------------- */
.Tarifs, .Bulletin {
  font-size:1.3em; color:#fff;
  text-align:center;
  padding:10px;
  background-color:#603;
  min-height:150px;
}
.Bulletin {
  background-color:#939;
  width:160px;
}
#ColPrincipale .Tarifs h3, #ColPrincipale .Bulletin h3 {
  text-align:center;
  margin-bottom:.2em;
  font-weight:normal;
  font-size:1.3em;
  letter-spacing:0;
}
.Tarifs li, .Bulletin p, .Bulletin li {
  font:1em "Lucida Grande",Verdana,sans-serif;
}
.Tarifs span {
  font-size:0.5em;
  display:block;
  margin:0.6em 0 0;
}

/* -------------
=Rubrique Commander
--------------- */
#CoordonneesEnvoyer {
  position:absolute;
  top:auto;
  left:auto;
  float:left;
}
#ConteneurCE {
  font-size:1.1em;
  position:absolute;
  left:470px;
  top:10px;
  border-left:1px solid #ccc;
  padding-left:7px;
}
#Commande h1 {
  color:#90c;
}
#Commande h2 {
  color:#936;
}
#Commande h3 {
  color:#936;
  font-size:2em;
}
#RappelCommande {
  margin:0 0 1em;
}
#RappelCommande ul {
  margin-top:0.7em;
}
#RappelCommande li {
  font:bold 1.1em "Lucida Grande",Verdana,sans-serif;
  background-color:#c2a3cc;
  padding:4px;
  margin-top:2px;
}
#RappelCommande span.prix {
  font-weight:normal;
  display:block;
  text-align:right;
}
#RappelCommande span.euro {
}
#Total {
  font:bold 1em "Lucida Grande",Verdana,sans-serif;
  border:1px solid #333;
  border-left:none; border-right:none;
  margin:0; padding:4px;
  text-align:right;
}
#PrixTotal {
  font-weight:bold;
}
#Envoyer {
  margin-top:1em;
  padding-bottom:0.5em;
  text-align:center;
}
#CommandeListe {
}
.CommandeItem {
  float:left;
  width:150px;
  height:210px;
  border:1px solid #ccc;
  margin:1em 10px 0 0;
  text-align:center;
  position:relative;
}
.CommandeItemImage {
  margin:10px 0 0;
}
.CommandeItem:hover {
  border-color:#90c;
}
.CommandeItem p {
  text-align:center;
  font-size:1.5em;
  color:#666;
}
.CommandeItemEx p {
  font-size:1.2em;
  text-align:center;
  margin-top:0.5em;
}
.CommandeItemEx select {
  font-size:0.5em;
}
.CommandeItem p span {
  font-family:"Helvetica", Arial, sans-serif;
  color:#333;
  border-left:1px dotted #bf00ff;
  margin-left:5px; padding-left:5px;
}
li.Indisponible {
  border:1px solid #eee;
  color:#999;
}
li.Indisponible span, li.Indisponible p {
  color:#999;
}
li.Indisponible:hover {
  border-color:#eee;
}
img.Indisponible {
  position:absolute;
  top:55%;
  left:0;
}
#Mentions p {
  font-size:0.9em;
  text-align:justify;
  margin:0.5em 0;
}
p.Date {
  font-family:"Lucida Grande",Verdana,sans-serif;
  font-weight:bold;
  text-align:right;
}
#Coordonnees {
  margin-bottom:2em;
}
#Coordonnees h3 {
  margin-bottom:0.4em;
}
#Coordonnees p, #Coordoonnees p {
  font-family:"Lucida Grande",Verdana,sans-serif;
  margin:0;
}
p.Nom span {
  text-transform:uppercase;
  font-weight:bold;
}
span.Ville {
  text-transform:uppercase;
}
p.Email {
  padding-top:0.8em;
}
#InstructionCommande {
  font-family:"Lucida Grande",Verdana,sans-serif;
  margin-top:3em;
}
/* -------------
=Index Navigation secondaire
--------------- */
#BIndexCategories {
  background:transparent url(../images/commun/CategoriesTop.png) no-repeat top left;
  padding:20px 0 0;
  margin-bottom:100px;
}
#BIC {
  background:transparent url(../images/commun/CategoriesBottom.png) no-repeat bottom left;
  padding-bottom:50px;
}
ul#IndexCategories {
  background:url(../images/commun/CategoriesNormal.png) no-repeat 0 -30px;
  padding-top:5px;
}
ul#IndexCategories li {
  background:transparent url(../images/commun/CategoriesHover.png) no-repeat 0 0;
}
ul#IndexCategories li a, ul#IndexResultats li a {
  color:#666;
}
ul#IndexCategories li a {
  background:url(../images/commun/CategoriesNormal.png) no-repeat bottom left;
  height:1.6em;
  display:block;
  padding:0 0 0 5px;
}
#IndexCategories li a:hover, ul#IndexResultats li a:hover {
  background:none;
  color:#9cc725;
}
#IndexCategories li.select a {
  background:url(../images/commun/CategoriesSelect.png) no-repeat bottom left;
  color:#9cc725;
}
#BIndexResultats {
  padding:20px 0 0;
}
ul#IndexResultats {
  border-left:1px solid #ccc;
  padding:5px 0;
}
.Auteurs ul#IndexResultats {
  padding-left:30px;
}
ul#IndexResultats li {
  padding:0.5em 0 0.5em 5px;
  border-bottom:1px dotted #ddd;
  margin-right:5px;
  margin-left:3px;
}
ul#IndexResultats li.select a {
  color:#9cc725;
}
/* -------------
Elements communs
--------------- */
.CAccueil div.ActuellementSommaire dt, .CS dt, .NumeroApercu dt, .Actu h3, #IN dt, #IA dd, #notes h3, span.Auteur {
  font-family:Helvetica, Arial, sans-serif;
  letter-spacing:normal;
}
table {
  font-family:"Lucida Grande",Verdana,sans-serif;
  border-collapse:collapse;
  border:1px solid #999;
  margin:1.4em 0;
}
th, table.spip tr.row_first {
  background-color:#9cc725;
}
td, th {
  border-left:1px solid #999;
  padding:5px;
}
td {
  text-align:center;
}
td:first-child {
  text-align:left;
}
tr.pair, tr.pair td, table.spip tr.row_odd {
  background-color:#adc764;
}
tr.impair, tr.impair td, table.spip tr.row_even {
  border:none;
  border-left:1px solid #999;
}
tr.Total td {
  font-weight:bold;
  border-top:2px solid #333;
  border-bottom:1px solid #999;
}
table.spip {
  font-size:0.8em;
  line-height:1.2em;
}
table.spip td {
  text-align:left;
}

/* -------------
=Divers
--------------- */
.rien {
  clear:both;
  height:0;
  font-size:0;
}
.invisible {
  display:none;
}

/* -------------
=Cadeaux
--------------- */
.cadeau {
	height: 500px;
	position: relative;
	width: 650px;
}

.cadeauTexte {
	background-color: #000;
	color: #f87cff;
	left: 100px;
	position: absolute;
	top: 150px;
}

.cadeauTexte .documents {
	margin:0 0 2em;
	padding: 0;

}

.cadeauTexte .doc_titre, .cadeauTexte .doc_descriptif, .cadeauTexte .doc_telechargement, .cadeauTexte .doc_credit, .cadeauTexte .doc_streaming {
	color: #fff;
	font-size: .95em;
	line-height: normal;
	margin: 0 20px .5em 45px;
}

.cadeauTexte .doc_titre {
	font: 1.3em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
	margin-top: 5em;
}

.cadeauTexte .doc_telechargement, .cadeauTexte .doc_streaming {
	float: left;
	height: 30px;
	margin: 0 0 0 45px;
	padding: 1em 0;
}

.cadeauTexte .doc_streaming {
}

.cadeauTexte .doc_telechargement {
	margin-left: 30px;
}

.cadeauTexte .doc_credit {
	clear: both;
	font: .6em "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #ccc;
}

.cadeauTexte .doc_telechargement a {
	background: url(../images/commun/telechargement.png) no-repeat top right;
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
	font-weight: bold;
	padding-right: 20px;
	vertical-align: middle;
}

/* -------------
=Forums
--------------- */
#colPrincipaleSectionSecondaire h2 {
	color:#90c;
}

ol.messagesForum {
	color: #92c600;
	font-weight: bold;
	margin: 0 0 2em 0;
	padding: 0;
	line-height: normal;
	list-style-type: none;
}

ol.messagesForum p {
	color: #333;
	font-weight: normal;
}

ol.messagesForum p.auteurForum {
	color: #82b100;
}

#formulaire_forum {
	margin: 0;
	padding: 0;
}

#formulaire_forum legend {
	display: none;
}

#formulaire_forum fieldset {
	border: none;
	margin: .5em 0 0;
	padding: 0;
}

#formulaire_forum label {
	display: block;
	font: 1.4em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
	margin-bottom: .5em;
}

#formulaire_forum table.spip_barre, #formulaire_forum table.spip_barre td {
	border: none;
	margin: 0;
	padding: 0;
}

#formulaire_forum table.spip_barre img {
	border: 1px solid #333;
	margin: 0 2px;
	padding: 1px;
}

p.pagination {
    text-align:right;
    margin: 1.5em 0;
}

#texte ins {
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
}