form, fieldset {
  margin:0; padding:0;
}
#FormLettre {
  margin-bottom:2em;
}
.Formulaire label {
  font:1em Helvetica,Verdana,Arial,sans-serif;
}
label.Commande {
  font:0.8em "Lucida Grande",Arial,sans-serif;
}
#Coordonnees label.Commande {
  display:block;
  margin-top:0.7em;
}
p.Label {
  color:#eee;
  background-color:#72804D;
  padding:5px; margin:0;
  font-size:1.1em;
}
p.Recherche {
  background-color:#9cc725;
  padding:8px 5px; margin:0 0 12px;
}
.ChampsTexte, .bouton, .error {
  font:0.8em "Lucida Grande",Arial,sans-serif;
  background-color:#eee;
  border:1px solid #ddd;
  border-color:#ccc #eee #eee #ccc;
}
#Envoyer .bouton {
  margin-left:10px;
}
.ChampsTexte:focus, .error:focus {
  background-color:#fff;
  border-color:#9cc725
}
.bouton {
  border-color:#eee #ccc #ccc #eee;
  color:#600;
}
.bouton:hover {
  background-color:#9cc725;
}
.BoutonDroite {
  text-align:right;
}
.alerte {
  font:1em Helvetica,Verdana,Arial,sans-serif;
  color:#fff;
  background-color:#900;
  padding:5px;
  margin:2em 0;
}
#errormsg {
  border:2px solid #c00;
  padding:5px;
}
.error {
  background:#fcc;
}
select.error {
  font:1em Helvetica,Verdana,Arial,sans-serif;
}
.obligatoire {
  font-weight:bold;
  font-family:"Lucida Grande",Arial,sans-serif;
  xcolor:#900;
}
.PreviewMail {
  font:1.1em "Lucida Grande",Arial,sans-serif;
  border:2px solid #900;
  padding:7px;
}
/*.PreviewMail h2,*/ legend {
  font-family:Helvetica,Verdana,Arial,sans-serif;
  font-size:1.2em;
}
.PreviewMessage {
  margin:.5em 0;
}

/* formulaire recherche */
#formulaire_recherche {
  margin:0; padding:0;
  margin-right: 30px;
  position:absolute; top:1em; right: 0;
}
#formulaire_recherche .label {display: none;}
#formulaire_recherche .text {
   width: 180px;
}
#formulaire_recherche .submit {
   margin-left: 5px;
}

/* formulaire ecrire auteur */
.formulaire_ecrire_auteur fieldset {border: none;}
.formulaire_ecrire_auteur legend {
   font-size: 1.5em;
   color: #000;
   margin: 0; padding: 0 0 1em;
}
.formulaire_ecrire_auteur .previsu {
   border: 2px solid #900;
   margin-bottom: 2em;
   padding: 5px;
}
.formulaire_ecrire_auteur .previsu legend {color: #900;}
.formulaire_ecrire_auteur li {margin-bottom: 1em;}
.formulaire_ecrire_auteur label {
   display: block;
   margin-bottom: 0.5em;
}
.formulaire_ecrire_auteur textarea,
.formulaire_ecrire_auteur .text {
   font-size: 1.1em;
   font-family: Menlo, Courier, monospace;
   width: 440px;
}

/* Elements communs */
.boutons {text-align: right;}
.boutons .submit {font-size: 1.2em;}
.erreur_message {font-weight: normal; color: #900;}
